@charset "UTF-8";

@import "mixin";

/******************************* layout *******************************/
html {
    font-size:14px;
    line-height:1.57;
    @include tabMo {
        @include vwPx(font-size, 14);
    }
}
body, .wrap {
    min-height:100%;
    font-family:$font-basic;
    color:$black_002;
    background-color:$gray_006;
}
body {
    &.overlay {
        overflow:hidden;
        height:100%;
    }
}
input, textarea, select, button {
    font-family:$font-basic;
    color:$black_002;
    font-size:14px;
    @include tabMo {
        @include vwPx(font-size, 14);
    }
}
a {
    color:$black_002;
}