@charset "UTF-8";
@import "mixin";

// vw 사이즈 계산
@function calcVw($target) {
    @return ($target / 3.6) * 1vw;
}

// % 사이즈 계산
@function calcPer($target) {
    @return ($target / 360) * 100%;
}

$primary-color: #333;
$white: #fff;
$text-color: #ccc;
$point-color: #4285f4;
$sub-color: #e9e9eb;

$font-size16:calcVw(16);
$font-size17:calcVw(17);
$font-size18:calcVw(18);
$font-size20:calcVw(19);

$font-family-spoqa:"Spoqa Han Sans", sans-serif;
$font-family-noto:"Noto Sans KR", sans-serif;
$font-family-kakao:"Kakao", sans-serif;

$font-weight-bold:700;
$font-weight-normal:400;


body {
    $primary-color: #eee;
    background-color: $white;
    color: $text-color;
    font-size:16px;
    font-size:$font-size16;
    font-family:$font-family-noto;
    p {
        color:lighten($text-color,10%);
    }
}
.container { width: 100%; }

h1 {
  @include headline($primary-color, 18px, $font-size18);
  font-family:$font-family-kakao;
}

article[role="main"] {
  float: left;
  width:calcPer(200);
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}

.box {
  border: 1px solid gray;
  padding: 10px;
  display: inline-block;
}

.success-box {
  @extend .box;
  border: 1px solid green;
}

// form
/* button */
$button-bg: '';
[class*="btn"] {
    display:inline-block;
    font-weight:700;
    text-align:center;
    border-radius:3px;
    line-height:1;
    color: if($button-bg == black, #fff, #000);
}
.btnStrong {
    @include button(auto, 10px 20px, $white, $font-size16, $point-color);
}
.btnNormal {
    @include button(auto, 10px 20px, $primary-color, $font-size16, $sub-color);
}

ul {
    &:after {
        @include afterClear;
    }
}

$value: null;
#condition {
  @if $value == false {
    color: #eee;
  }
}

// 속성의 내용을 반복하여 쓰지 않아도 됨
.box {
  font: {
    weight: bold;
    size: 10px;
    family: sans-serif;
  };
  margin: {
    top: 10px;
    left: 20px;
  };
  padding: {
    bottom: 40px;
    right: 30px;
  };
}

// 배열에 담아 반복
@each $obj in phone, tablet, cup, mouse {

  .item-#{$obj} {
    background-image: url("img/#{$obj}.jpg");
  }
}
// CSS compile 결과
/*.item-phone {
  background-image: url("img/phone.jpg");
}

.item-tablet {
  background-image: url("img/tablet.jpg");
}

.item-cup {
  background-image: url("img/cup.jpg");
}

.item-mouse {
  background-image: url("img/mouse.jpg");
}*/

/*
.btnSubmit, .btnNormal {display:inline-block; width:100%; height:14.44vw; font-size:4.72vw; line-height:14.44vw; font-weight:bold;text-align:center; border-radius:3px;}
.btnSubmit.disabled {color:#828282; background:#ebebeb;}
.btnSubmit { color:#fff; background:#31579e;}
.btnNormal { color:#222; background:#e2e2e2;}*/
