@charset "UTF-8";

@mixin headline ($color, $sizePx, $sizeVw) {
  color: $color;
  font-size: $sizePx;
  font-size: $sizeVw;
}

@mixin button ($width, $padding, $color, $size, $bg) {
    color:$color;
    font-size:$size;
    background-color:$bg;
    width: $width;
    padding: $padding;
}

@mixin text ($size, $color, $weight) {
    font-size:$size;
    color:$color;
    font-weight:$weight;
}

@mixin afterClear {
  display: block;
  content: '';
  clear: both;
}

@mixin setImageMask($top, $left, $backgroundImg) {
    position: relative;

    &:after{
        display:block;
        content: '';
        position: absolute;
        top: $top;
        left: $left;
        background-image:$backgroundImg
    }
}

@mixin ellipsis($width){
    display:inline-block;
    overflow:hidden;
    width:$width;
    white-space:nowrap;
    text-overflow:ellipsis;
}

@mixin hide_txt{
    overflow:hidden;
    position:absolute;
    clip:rect(0 0 0 0);
    margin:-1px;
    width:1px;
    height:1px;
    color:transparent;
}

