@charset "UTF-8";

$font-lato:'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-raleway:'Raleway', sans-serif;
$gray:rgb(124, 112, 107);
$black:#333;
$white:#fefefe;
$wei700:700;
$wei400:400;

$rem35:3.5rem;
$rem2:2rem;
$rem15:1.5rem;
$rem13:1.3rem;
$rem1:1rem;
$rem09:0.9rem;

$p10:10px;
$p15:15px;
$p20:20px;
$p30:30px;
$p40:40px;
$p60:60px;

$bg_url:"../images/";
