@charset UTF-8

/* reset */
body, h1, h2, h3, h4, h5, h6, img, a, ul, li, dl, dt, dd, address, table, thead, tbody, tfoot, td, tr, th, p, summary, caption, div, p, td,ul,ol, ul, li,a,img,h1, h2, h3, h4, h5, h6, form, span, iframe, dl, dt, dd, blockquote{margin:0;padding:0;color:#666;font-size:14px;font-family:NanumGothic, "나눔고딕", "NG", "돋움", Dotum, AppleGothic, sans-serif;letter-spacing:-0.01em}
ul, ol, dl{list-style:none}
h1,h2,h3,h4,h5,h6{font-weight:normal}
select, input, button, textarea{margin:0;padding:0;color:#666;font-size:14px;font-family:NanumGothic, "나눔고딕", "NG","돋움",Dotum,AppleGothic, sans-serif}
img{border:0}
fieldset {margin:0px;padding:0px;border:none}
caption{position:absolute;top:-9999px;left:-9999px;font:0/0 Arial}
legend {padding:0; position: absolute;top:-9999px;left:-9999px;font:0/0 Arial}
table{width:100%;border-collapse:separate}
th, td{empty-cells:show}
button, input[type="button"], input[type="reset"], input[type="submit"]{border:none;cursor:pointer}
button::-moz-focus-inner{margin:0;padding:0;border:0}
hr{display:none}
em{font-style:normal}
strong{font-weight:600}