@charset "UTF-8";

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansKR-Regular'),
       url("../fonts/NotoSansKR-Regular.otf") format('opentype'),
       url("../fonts/NotoSansKR-Regular.ttf") format('truetype'),
       url("../fonts/NotoSansKR-Regular.woff") format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: local('NotoSansKR-Bold'),
       url(../fonts/NotoSansKR-Bold.otf) format("opentype"),
       url(../fonts/NotoSansKR-Bold.ttf) format("truetype"),
       url(../fonts/NotoSansKR-Bold.woff) format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: local('Lato-Regular'),
        url(../fonts/Lato-Thin.otf) format("opentype"),
        url(../fonts/Lato-Thin.ttf) format("truetype"),
        url(../fonts/Lato-Thin.woff) format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Regular'),
        url(../fonts/Lato-Regular.otf) format("opentype"),
        url(../fonts/Lato-Regular.ttf) format("truetype"),
        url(../fonts/Lato-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato-Bold'),
        url(../fonts/Lato-Bold.otf) format("opentype"),
        url(../fonts/Lato-Bold.ttf) format("truetype"),
        url(../fonts/Lato-Bold.woff) format("woff");
}

/*

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"), local("Spoqa Han Sans Bold"),
       url("../fonts/Spoqa-Han-Sans-Bold.woff2") format("woff2"),
       url("../fonts/Spoqa-Han-Sans-Bold.woff") format("woff"),
       url("../fonts/Spoqa-Han-Sans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"), local("Spoqa Han Sans Regular"),
        url("../fonts/Spoqa-Han-Sans-Regular.woff2") format("woff2"),
        url("../fonts/Spoqa-Han-Sans-Regular.woff") format("woff"),
        url("../fonts/Spoqa-Han-Sans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local("Spoqa Han Sans Light"), local("Spoqa Han Sans Light"), url("https://toss.im/frame/2.0/_docs/assets/fonts/Spoqa%20Han%20Sans%20Light.woff2") format("woff2"), url("https://toss.im/frame/2.0/_docs/assets/fonts/Spoqa%20Han%20Sans%20Light.woff") format("woff"), url("https://toss.im/frame/2.0/_docs/assets/fonts/Spoqa%20Han%20Sans%20Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local("Spoqa Han Sans Thin"), local("Spoqa Han Sans Thin"), url("https://toss.im/frame/2.0/_docs/assets/fonts/Spoqa%20Han%20Sans%20Thin.woff2") format("woff2"), url("https://toss.im/frame/2.0/_docs/assets/fonts/Spoqa%20Han%20Sans%20Thin.woff") format("woff"), url("https://toss.im/frame/2.0/_docs/assets/fonts/Spoqa%20Han%20Sans%20Thin.ttf") format("truetype"); }
  
  */
