@charset "UTF-8";

// vw 사이즈 계산
@function calcVw($target) {
    @return ($target / 3.6) * 1vw;
}

@function calcVwT($target) {
    @return ($target / 7.68) * 1vw;
}

// rem 사이즈 계산
@function calcRem($target) {
    @return ($target / 20) * 1rem;
}

// % 사이즈 계산
@function calcPer($target) {
    @return ($target / 360) * 100%;
}

// font-family
$font-noto: "Spoqa Han Sans", sans-serif;
$font-noto: "NotoSansKR", sans-serif;
$font-lato: "Lato", sans-serif;

//color
$white: #fff;

$black: #000;
$black_001: #222;
$black_002: #444;
$black_003: #777;

$gray_001: #ccc;
$gray_002: #f2f2f2;

$blue_001:#31579e;
$blue_002:#4285f4;

$bg_url: "../images/";

// size
$pc_m: 1320px;
$pc_Process: 1220px;
$pc_s: 1080px;
$tab_land: 1024px;
$tab_potr: 1023px;
$tab_s: 711px;
$mobile_l:710px;
$mobile_s:320px;

@mixin mo {
    @media screen and  (max-width: #{$mobile_l}) {
        @content;
    }
}

@mixin tabMo {
    @media screen and (min-width: #{$mobile_s}) and (max-width: #{$tab_potr}) {
        @content;
    }
}

@mixin tab {
    @media screen and (min-width: #{$tab_s}) and (max-width: #{$tab_potr}) {
        @content;
    }
}

@mixin pcSmall{
    @media screen and (min-width: #{$tab_land}) and (max-width: #{$pc_s}) {
        @content;
    }
}

@mixin pcSmallProcess{
    @media screen and (min-width: #{$tab_land}) and (max-width: #{$pc_Process}) {
        @content;
    }
}

@mixin pcMid {
    @media screen and (min-width: #{$tab_land}) and (max-width: #{$pc_m}) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: #{$pc_s}) {
        @content;
    }
}

@mixin pcL {
    @media screen and (min-width: #{$pc_m}) {
        @content;
    }
}

@mixin vwPx($prop, $size) {
    #{$prop}:#{$size}px;
    #{$prop}:calcVw($size);
}

@mixin slogan($color) {
  color: $color;
  font-size: 52px;
  line-height:1.3;
    @include tab {
        font-size:24px;
    }
    @include mo {
        font-size:24px;
        font-size:calcVw(24);
    }
}

@mixin title($color) {
  color: $color;
  font-size: 22px;
    @include tab {
        font-size:14px;
    }
    @include mo {
        font-size:14px;
        font-size:calcVw(14);
    }
}

@mixin desc($color) {
  color: $color;
  font-size: 20px;
    @include tab {
        font-size:14px;
    }
    @include mo {
        font-size:14px;
        font-size:calcVw(14);
    }
}

@mixin afterClear {
    &:after {
        content: "";
        display: block;
        clear: both;
      }
}

@mixin button ($width, $padding, $color, $size, $bg) {
    color:$color;
    font-size:$size;
    background-color:$bg;
    width: $width;
    padding: $padding;

}

@mixin text ($size, $color, $weight) {
    font-size:$size;
    color:$color;
    font-weight:$weight;
}

@mixin box($borderColor, $bgColor) {
    border-color:$borderColor;
    background-color:$bgColor;
}

@mixin pseudo($display, $width, $height, $backgroundImage) {
    display: $display;
    content:"";
    width:($width) + px;
    height:($height) + px;
    background:url($backgroundImage) no-repeat;
    background-position:0 0;
    vertical-align:middle;
}

@mixin mediaPseudo($width, $height) {
    width:calcVw($width);
    height:calcVw($height);
}

