@font-face {
  font-family: "Tadak";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/TDTDTadakTadak.woff") format("woff");
}
@font-face {
  font-family: "designhouse";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff") format("woff");
}
@font-face {
  font-family: "skyer";
  font-style: normal;
  font-weight: 400;
  src: local("Skyer-Regular"), url("../fonts/Skyer-Regular.woff2") format("woff2"), url("../fonts/Skyer-Regular.woff") format("woff"), url("../fonts/Skyer-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "tajaKR";
  font-style: normal;
  font-weight: 400;
  src: local("KoreanTJ-L"), url("../fonts/tajaL.woff2") format("woff2"), url("../fonts/tajaL.woff") format("woff"), url("../fonts/tajaL.ttf") format("truetype");
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, figure {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0 none;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input, select, textarea, button {
  vertical-align: middle;
  font-size: 100%;
}

button {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

fieldset, img {
  border: 0;
}

input, button {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}

input[type=radio] {
  -webkit-appearance: radio;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #fff;
}

html, body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  text-decoration: none;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

a, button {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

pre {
  white-space: pre-wrap;
}

:root {
  --color-point: #f93854;
}

html, body, button, input[type*=text], input[type*=tel] {
  font-size: 16px;
  line-height: 1.5;
  font-family: "designhouse", "Noto Sans KR", "Lato", "Malgun Gothic", Helvetica, Arial, sans-serif;
  color: #565656;
}

a {
  color: #565656;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  min-height: 100vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.wrap .type-black {
  display: block;
}
.wrap .type-white {
  display: none;
}

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .logo {
  width: 3rem;
  font-size: 1rem;
  line-height: 1;
}
.header .logo img {
  max-width: 100%;
}
.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav li a:hover {
  text-decoration: underline;
}
.header .nav li + li {
  margin-left: 1rem;
}

.footer {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contents {
  padding: 2rem 2rem;
}
.contents.full-page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: calc(100% - 80px);
  height: calc(100vh - 80px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theme-black {
  background-color: #222;
  color: #fff;
}
.theme-black a {
  color: #fff;
}
.theme-black .type-black {
  display: none;
}
.theme-black .type-white {
  display: block;
}
.theme-black .header {
  background: none;
}
.theme-black .contents {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

[class*=btn] {
  display: inline-block;
  margin-left: 20px;
  font-size: 0.8rem;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(97%, transparent), color-stop(0, #000));
  background-image: linear-gradient(180deg, transparent 97%, #000 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: background-size 0.35s ease-in-out;
  transition: background-size 0.35s ease-in-out;
}
[class*=btn]:hover {
  background-size: 0 100%;
}

.btn-next {
  font-size: 1.2rem;
}

.move {
  text-align: right;
}

.intro .description {
  z-index: 1;
  position: relative;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.intro .description::after {
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  top: -40%;
  left: 45%;
  display: block;
  content: "";
  width: 100%;
  height: 300px;
  background-image: url("../images/bg_intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.phone {
  position: relative;
  display: block;
  width: 375px;
  height: 812px;
  border: 16px solid #000;
  border-radius: 48px;
}
.phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  margin-left: -90px;
  width: 180px;
  height: 28px;
  background: #000;
  border-radius: 0 0 24px 24px;
}

.company {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.company .list {
  padding-left: 20px;
  font-size: 1rem;
  list-style: upper-roman;
  -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(0);
          transform: rotateX(0deg) rotateY(0deg) translateZ(0);
}
.company .list:hover li {
  opacity: 0.5;
}
.company .list li {
  line-height: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.company .list li + li {
  margin-top: 2rem;
}
.company .list li:hover {
  opacity: 1;
  -webkit-transform: rotateX(3deg) rotateY(-2deg) translateZ(20px);
          transform: rotateX(3deg) rotateY(-2deg) translateZ(20px);
}
.company .list li a {
  font-size: 2rem;
}
.company .list li .info {
  display: block;
  font-size: 1rem;
  line-height: 1;
}

.project .title, .project .info {
  max-width: 1150px;
  margin: 0 auto;
}
.project .title {
  padding: 10vh 0 0;
  font-size: 3rem;
}
.project .title .ordinal {
  display: block;
  margin-bottom: 5vh;
  font-size: 1rem;
}
.project .title .ordinal::before {
  display: inline-block;
  content: "";
  width: 20%;
  height: 1px;
  margin: -10px 10px 0 0;
  vertical-align: middle;
  background-color: #565656;
}
.project .info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 3rem;
}
.project .info::before {
  content: "";
  display: block;
  margin-bottom: 8px;
  width: 100%;
  height: 3px;
}
.project .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--color-point);
}
.project .info .sub-title::before {
  content: "";
  display: block;
  width: 100%;
}
.project .info .sub-title::after {
  content: "_ ";
}
.project .project-title {
  margin-bottom: 1rem;
}
.project .project-title::before {
  content: "";
  display: block;
  margin-bottom: 8px;
  width: 40px;
  height: 3px;
  background: var(--color-point);
}

.text-underline {
  display: inline-block;
  text-decoration: underline;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.text-underline:hover {
  -webkit-transform: rotateX(3deg) rotateY(-2deg) translateZ(20px);
          transform: rotateX(3deg) rotateY(-2deg) translateZ(20px);
}

.area-image {
  margin: 0 -2rem;
  padding: 3rem 2rem;
  background-color: #f0f0f0;
}
.area-image .image {
  max-width: 850px;
  margin: 0 auto;
}
.area-image .image img {
  max-width: 100%;
}
.area-text {
  max-width: 850px;
  margin: 0 auto;
  padding: 3rem 0 6rem;
}
.area-text ul {
  padding-left: 20px;
  list-style: lower-roman;
}

@media screen and (min-width: 769px) {
  html, body, button, input[type*=text], input[type*=tel] {
    font-size: 20px;
    line-height: 1.67;
  }
  .btn-next {
    margin-left: 0;
  }
  .area-image {
    margin: 0 -2rem;
    padding: 5rem 0;
  }
  .area-image.app .image {
    max-width: 300px;
  }
  .area-text {
    max-width: 850px;
    margin: 0 auto;
    padding: 4rem 0 10rem;
  }
  .area-text ul {
    padding-left: 20px;
  }
  .intro .description {
    font-size: 1.6rem;
  }
  .intro .description::after {
    width: 200%;
    height: 400px;
    top: 40%;
    left: 20%;
  }
  .project {
    padding-top: 20vh;
  }
  .project .title .ordinal {
    margin-bottom: 8vh;
    font-size: 2rem;
  }
  .project .info {
    margin-top: 2rem;
  }
}