@font-face {
  font-family: "Tadak";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/TDTDTadakTadak.woff") format("woff");
}
@font-face {
  font-family: "designhouse";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff") format("woff");
}
@font-face {
  font-family: "skyer";
  font-style: normal;
  font-weight: 400;
  src: local("Skyer-Regular"), url("../fonts/Skyer-Regular.woff2") format("woff2"), url("../fonts/Skyer-Regular.woff") format("woff"), url("../fonts/Skyer-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "tajaKR";
  font-style: normal;
  font-weight: 400;
  src: local("KoreanTJ-L"), url("../fonts/tajaL.woff2") format("woff2"), url("../fonts/tajaL.woff") format("woff"), url("../fonts/tajaL.ttf") format("truetype");
}
html, body, button, input[type*=text], input[type*=tel] {
  font-size: 16px;
  line-height: 1.67;
  font-family: "designhouse", "Noto Sans KR", "Lato", "Malgun Gothic", Helvetica, Arial, sans-serif;
  color: #565656;
}

a {
  color: #565656;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  min-height: 100vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.wrap .type-black {
  display: block;
}
.wrap .type-white {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
}
.header .logo {
  width: 3rem;
  font-size: 1rem;
  line-height: 1;
}
.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav li a:hover {
  text-decoration: underline;
}
.header .nav li + li {
  margin-left: 1rem;
}

.footer {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contents {
  padding: 2rem 2rem;
}
.contents.full-page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: calc(100% - 80px);
  height: calc(100vh - 80px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theme-black {
  background-color: #222;
  color: #fff;
}
.theme-black a {
  color: #fff;
}
.theme-black .type-black {
  display: none;
}
.theme-black .type-white {
  display: block;
}
.theme-black .header {
  background: none;
}
.theme-black .contents {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* ****************************** common ****************************** */
.text-underline {
  text-decoration: underline;
}
.text-underline:hover {
  opacity: 1;
  -webkit-transform: rotateX(3deg) rotateY(-2deg) translateZ(20px);
          transform: rotateX(3deg) rotateY(-2deg) translateZ(20px);
}

[class*=btn] {
  display: inline-block;
  margin-left: 20px;
  font-size: 0.8rem;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(97%, transparent), color-stop(0, #000));
  background-image: linear-gradient(180deg, transparent 97%, #000 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: background-size 0.35s ease-in-out;
  transition: background-size 0.35s ease-in-out;
}
[class*=btn]:hover {
  background-size: 0 100%;
}

.btn-next {
  font-size: 1.2rem;
}

.move {
  text-align: right;
}

.area-image {
  margin: 0 -2rem;
  padding: 3rem 2rem;
  background-color: #f0f0f0;
}
.area-image .image {
  max-width: 850px;
  margin: 0 auto;
}
.area-text {
  max-width: 850px;
  margin: 0 auto;
  padding: 3rem 0 6rem;
}
.area-text ul {
  padding-left: 20px;
  list-style: lower-roman;
}

.intro .description {
  z-index: 1;
  position: relative;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.intro .description::after {
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  top: -40%;
  left: 45%;
  display: block;
  content: "";
  width: 100%;
  height: 300px;
  background-image: url("../images/bg_intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.company {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.company .list {
  padding-left: 20px;
  font-size: 1rem;
  list-style: upper-roman;
  -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(0);
          transform: rotateX(0deg) rotateY(0deg) translateZ(0);
}
.company .list:hover li {
  opacity: 0.5;
}
.company .list li {
  line-height: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.company .list li + li {
  margin-top: 2rem;
}
.company .list li:hover {
  opacity: 1;
  -webkit-transform: rotateX(3deg) rotateY(-2deg) translateZ(20px);
          transform: rotateX(3deg) rotateY(-2deg) translateZ(20px);
}
.company .list li a {
  font-size: 2rem;
}
.company .list li .info {
  display: block;
  font-size: 1rem;
  line-height: 1;
}

.project .title, .project .info {
  max-width: 1150px;
  margin: 0 auto;
}
.project .title {
  padding: 15vh 0 0;
  font-size: 3.5rem;
}
.project .title .ordinal {
  display: block;
  margin-bottom: 5vh;
  font-size: 1rem;
}
.project .title .ordinal::before {
  display: inline-block;
  content: "";
  width: 20%;
  height: 1px;
  margin: -10px 10px 0 0;
  vertical-align: middle;
  background-color: #565656;
}
.project .info {
  margin-bottom: 3rem;
}
.project .project-title {
  margin-bottom: 1rem;
}

@media screen and (min-width: 769px) {
  html, body, button, input[type*=text], input[type*=tel] {
    font-size: 20px;
    line-height: 1.67;
  }
  .btn-next {
    margin-left: 0;
  }
  .area-image {
    margin: 0 -2rem;
    padding: 5rem 0;
  }
  .area-image.app .image {
    max-width: 300px;
  }
  .area-text {
    max-width: 850px;
    margin: 0 auto;
    padding: 4rem 0 10rem;
  }
  .area-text ul {
    padding-left: 20px;
  }
  .intro .description {
    font-size: 1.6rem;
  }
  .intro .description::after {
    width: 200%;
    height: 400px;
    top: 40%;
    left: 20%;
  }
  .project {
    padding-top: 20vh;
  }
  .project .title .ordinal {
    margin-bottom: 8vh;
    font-size: 2rem;
  }
  .project .info {
    margin-top: 2rem;
  }
}tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tab.col4 li {
  width: 25%;
  margin-left: 18px;
}
.tab li {
  margin-left: 0.05%;
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tab li:first-of-type {
  margin-left: 0;
}
.tab li a {
  display: block;
  padding: 10px 0;
  font-size: 1.0666666667rem;
  color: #4a4a4a;
  text-align: center;
  letter-spacing: -1px;
}
.tab li.selected {
  position: relative;
}
.tab li.selected:after {
  display: block;
  content: "";
  width: 68px;
  height: 1px;
  background-image: url(none);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  bottom: -1px;
  margin-left: -31px;
  background-color: #4a4a4a;
}
.tab li.selected a {
  color: #000;
}

.setCoin {
  color: #4a4a4a;
}
.setCoin .icon {
  width: 17px;
  height: 17px;
  background-image: url("../images/ico_coin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.setCoin .coin {
  margin-left: 1px;
  font-size: 1rem;
  vertical-align: middle;
}

.overlay {
  height: 100%;
  height: 100vh;
  overflow: hidden;
}
.overlay .layer {
  opacity: 1;
}

.layer {
  opacity: 0;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 100px 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.layer:before {
  z-index: 101;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.layer .inner {
  z-index: 102;
  position: relative;
  width: 100%;
  max-height: 100%;
  max-width: 360px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
}
.layer .titleArea {
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ffe34c;
}
.layer .titleArea h2 {
  font-size: 1rem;
  line-height: 1;
}
.layer .content {
  overflow-y: auto;
  padding: 15px 29px;
  text-align: center;
  font-size: 1rem;
}
.layer .content .desc {
  font-size: 1rem;
  line-height: 1.47;
  letter-spacing: -1px;
}
.layer .content .product {
  padding: 0;
  border-bottom-width: 0;
}
.layer .content .product .desc {
  margin-bottom: 20px;
}
.layer .content .product .image {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  width: 75px;
  height: 75px;
  margin: 0 auto 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
}
.layer .btnArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.layer .btnArea > [class*=btn] {
  height: 40px;
  line-height: 40px;
  font-size: 0.8666666667rem;
  font-weight: 400;
}
.layer .btnArea > [class*=btn]:first-of-type {
  border-bottom-left-radius: 5px;
}
.layer .btnArea > [class*=btn]:last-of-type {
  border-bottom-right-radius: 5px;
}

.section {
  padding: 15px 25px 10px 25px;
  background-color: #fff;
}
.section .title {
  margin-bottom: 15px;
  font-size: 0.9333333333rem;
  font-weight: 400;
}

.congrats {
  padding: 10px 20px 10px 25px;
  background-color: #fff;
}
.congrats .inner {
  position: relative;
  height: 56px;
  padding: 5px 5px 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.congrats .inner .list {
  overflow: hidden;
  height: 46px;
  border-radius: 23px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, right top, left top, from(#ffad3b), color-stop(98%, #ff6f1d));
  background-image: linear-gradient(to left, #ffad3b, #ff6f1d 98%);
}
.congrats .inner .item {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 56px;
  padding: 0 10px 0 65px;
  cursor: pointer;
}
.congrats .inner .item .image {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -26px;
  width: 42px;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.congrats .inner .item .text {
  padding-top: 4px;
  color: #fff;
  font-size: 0.8rem;
  line-height: 18px;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.35);
}
.loading:before {
  z-index: 10;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 3px solid #9b9b9b;
  border-top-color: #ffe34c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}

.tableLayout {
  border-bottom: 1px solid #e8e8e8;
}
.tableLayout th, .tableLayout td {
  border-top: 1px solid #e8e8e8;
}
.tableLayout th {
  padding: 10px 11px;
  font-weight: 400;
  background-color: #f9f9f9;
}
.tableLayout th:first-of-type {
  padding-left: 25px;
}
.tableLayout th:last-of-type {
  padding-right: 25px;
}
.tableLayout td {
  padding: 10px 11px;
  font-size: 0.9333333333rem;
  background-color: #fff;
}
.tableLayout td:first-of-type {
  padding-left: 25px;
}
.tableLayout td:last-of-type {
  padding-right: 25px;
}
.tableLayout .center {
  text-align: center;
}
.tableLayout .left {
  text-align: left;
}

.prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  padding: 10px 25px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.prize .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 76px;
  height: 76px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prize .image img {
  max-width: 100%;
  max-height: 100%;
}
.prize .info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 99px;
          flex: 1 1 99px;
  padding-left: 10px;
}
.prize .info .brand {
  color: #afafaf;
  font-size: 1rem;
}
.prize .info .name {
  display: block;
  color: #4a4a4a;
  font-size: 1.0666666667rem;
  font-weight: 400;
}
.prize .info .setCoin {
  margin-top: 4px;
  color: #000;
  font-size: 1rem;
}

.myInfo:after {
  content: "";
  display: block;
  clear: both;
}
.myInfo .profile {
  float: left;
}
.myInfo .profile .image {
  overflow: hidden;
  display: inline-block;
  width: 25px;
  height: 25px;
  width: 25px;
  width: 6.9444444444vw;
  height: 25px;
  height: 6.9444444444vw;
  max-width: 35px;
  max-height: 35px;
  text-align: center;
  vertical-align: middle;
  background: #f3f3f3;
  border-radius: 50%;
}
.myInfo .profile .name {
  margin-left: 10px;
  font-size: 1rem;
  vertical-align: middle;
}
.myInfo .coin {
  float: right;
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.6667;
  color: #5d5d5d;
}
.myInfo .coin .icon {
  width: 17px;
  height: 17px;
  width: 17px;
  width: 4.7222222222vw;
  height: 17px;
  height: 4.7222222222vw;
  max-width: 29px;
  max-height: 26px;
  background-image: url("../images/ico_coin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannerArea {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 115px;
}
.bannerArea .slideWrap {
  height: 100%;
}
.bannerArea .view {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
.bannerArea .view li {
  width: 100%;
}
.bannerArea .view li a, .bannerArea .view li img {
  display: block;
  width: 100%;
}
.bannerArea .ts-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
.bannerArea .ts-controls .ts-paging .ts-paging-btn {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  background-color: #4a4a4a;
  overflow: hidden;
  clip: rect(0 0 0 0);
  color: transparent;
  white-space: nowrap;
  border-radius: 50%;
}
.bannerArea .ts-controls .ts-paging .ts-paging-btn:first-of-type {
  margin-left: 0;
}
.bannerArea .ts-controls .ts-paging .ts-paging-btn.ts-paging-active {
  background-color: #ffc506;
}

.recommendGoods {
  margin: 0 -24px 0 -25px;
  padding: 0 12px;
  font-size: 0;
}
.recommendGoods:after {
  content: "";
  display: block;
  clear: both;
}
.recommendGoods li {
  display: inline-block;
  width: 25%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.recommendGoods li a {
  display: inline-block;
  font-size: 0.8rem;
}
.recommendGoods li .image {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  width: 60px;
  width: 16.6666666667vw;
  height: 60px;
  height: 60px;
  height: 16.6666666667vw;
  max-width: 100px;
  max-height: 100px;
  background-color: #f4f4f4;
  border-radius: 50%;
}
.recommendGoods li .image img {
  max-width: 100%;
  max-height: 100%;
}
.recommendGoods li .coin {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 200;
}
.recommendGoods li .coin em {
  font-weight: 400;
}

.prdList .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  margin-top: 7px;
  padding: 10px 25px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.prdList .item .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 80px;
  height: 80px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prdList .item .image img {
  max-width: 100%;
  max-height: 100%;
}
.prdList .item .info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 99px;
          flex: 1 1 99px;
  padding-left: 10px;
}
.prdList .item .info .brand {
  color: #afafaf;
  font-size: 1rem;
}
.prdList .item .info .name {
  display: block;
  margin-top: 3px;
  color: #4a4a4a;
  font-size: 1.0666666667rem;
  font-weight: 400;
  max-height: 42px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: keep-all;
}
.prdList .item .info .btnLike {
  margin-left: 15px;
}
.prdList .item .info .price {
  position: absolute;
  left: 10px;
  bottom: 0;
}
.prdList .item .info .price .cash {
  margin-left: 15px;
  font-size: 1rem;
}
.prdList .item .gauge {
  margin-top: 5px;
}
.prdList .item .text {
  margin-top: 6px;
  color: #7d7d7d;
  font-size: 0.9333333333rem;
  letter-spacing: -1px;
}

.gauge {
  position: relative;
}
.gauge .total, .gauge .mine {
  display: block;
  width: 100%;
  height: 20px;
  padding: 0 5px;
  color: #4a4a4a;
  font-size: 0.8666666667rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gauge .total {
  text-align: right;
  background: #e8e8e8;
  border-radius: 9px;
}
.gauge .total span {
  position: relative;
  z-index: 2;
}
.gauge .mine {
  position: absolute;
  left: 0;
  top: 0;
}
.gauge .mine .bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffd437), to(#ffad2e));
  background-image: linear-gradient(to right, #ffd437, #ffad2e);
  border-radius: 8px;
}
.gauge .mine .coin {
  position: relative;
  z-index: 2;
}

.product {
  padding: 25px 25px 20px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.product .image {
  width: 100%;
}
.product .info {
  margin-top: 20px;
}
.product .info .brandName {
  color: #afafaf;
  font-size: 0.9333333333rem;
}
.product .info .prdName {
  margin-top: 5px;
  font-size: 1rem;
  color: #4a4a4a;
}
.product .info .price {
  margin-top: 5px;
  font-size: 1.2rem;
  color: #000;
}
.product .info .tag {
  display: inline-block;
  height: 16px;
  padding: 0 8px;
  font-size: 0.8666666667rem;
  line-height: 16px;
  color: #ffc506;
  vertical-align: middle;
  border: 1px solid #ffc506;
  border-radius: 8px;
}

.coinInfo {
  margin-top: 7px;
  padding: 0 25px;
  background-color: #fff;
}
.coinInfo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0 9px;
  font-size: 1rem;
}
.coinInfo li + li {
  border-top: 1px dashed #e8e8e8;
}
.coinInfo li.balance {
  font-size: 1rem;
}
.coinInfo li .tit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  color: #7d7d7d;
  text-align: left;
}
.coinInfo li .coin {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 210px;
          flex: 1 1 210px;
  text-align: right;
}

.prdDesc {
  padding: 10px 25px;
  font-size: 0.8666666667rem;
  color: #7d7d7d;
}
.prdDesc h3 {
  margin-bottom: 5px;
  font-size: 0.8666666667rem;
  font-weight: 400;
}
.prdDesc p {
  line-height: 1.43;
}

.tooltip {
  position: relative;
}
.tooltip.open .content {
  display: block;
  opacity: 1;
}
.tooltip .content {
  display: none;
  opacity: 0;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: -71px;
  min-width: 106px;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.25);
          box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.25);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.tooltip .content:before {
  display: block;
  content: "";
  position: absolute;
  top: -14px;
  right: 14px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  -webkit-filter: drop-shadow(0 -2px 3px rgba(100, 100, 100, 0.25));
}
.tooltip .content .list li + li {
  border-top: 1px solid #e8e8e8;
}
.tooltip .content .list li a {
  display: block;
  padding: 5px 10px;
  font-size: 0.8rem;
  line-height: 1.5;
  white-space: nowrap;
}

.people .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  padding: 10px 25px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #fff;
}
.people .one .image {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.people .one .image img {
  max-width: 100%;
  max-height: 100%;
}
.people .one .info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40px;
          flex: 1 1 40px;
  padding-left: 20px;
}
.people .one .info .nickname {
  color: #4a4a4a;
  font-size: 1rem;
  word-break: break-all;
}
.people .one .info .steps {
  display: block;
  margin-top: 3px;
  color: #7d7d7d;
  font-size: 0.8666666667rem;
  font-weight: 400;
  max-height: 40px;
  line-height: 1.3;
}
.people .one .button {
  margin-left: 10px;
}
.people .one .button a[class*=btn] + a[class*=btn] {
  margin-left: 6px;
}
.people .one:last-of-type .tooltip .content {
  top: -70px;
  bottom: auto;
}
.people .one:last-of-type .tooltip .content:before {
  display: none;
}
.people .one:last-of-type .tooltip .content:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -14px;
  right: 14px;
  border: 7px solid transparent;
  border-top-color: #fff;
  -webkit-filter: drop-shadow(0 3px 3px rgba(100, 100, 100, 0.25));
}
.people .one:first-of-type .tooltip .content {
  top: auto;
  right: 0;
  bottom: -71px;
}
.people .one:first-of-type .tooltip .content:before {
  display: block;
  content: "";
  position: absolute;
  top: -14px;
  right: 14px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  -webkit-filter: drop-shadow(0 -2px 3px rgba(100, 100, 100, 0.25));
}
.people .one:first-of-type .tooltip .content:after {
  display: none;
}

.nothing {
  padding: 98px 25px 0;
}
.nothing .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  margin: 0 auto 20px;
  font-size: 1rem;
  line-height: 1.47;
  color: #4a4a4a;
  text-align: center;
  letter-spacing: -1px;
}
.nothing .desc:before {
  display: block;
  content: "";
  width: 50px;
  height: 49px;
  margin: 0 auto 10px;
  background-background-repeat: no-repeat;
  background-background-position: center;
  background-background-size: cover;
  background-image: url("../images/ico_users.svg");
  background-size: cover;
}
.nothing .btnStrong {
  font-size: 1rem;
  border-radius: 4px;
}

.searchForm {
  padding: 10px 25px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.searchForm .inner {
  position: relative;
  height: 40px;
  padding: 0 40px 0 0;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  border-radius: 3px;
}
.searchForm .inner input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  font-size: 1rem;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.searchForm .inner .btnSearch {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 12px;
  background-image: url("../images/btn_search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.selectList li + li {
  margin-top: 10px;
}
.selectList li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.selectList li .nickname, .selectList li .icon {
  margin-left: 15px;
}
.selectList li .image {
  overflow: hidden;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.selectList li .nickname {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.9333333333rem;
  color: #4a4a4a;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectList li .icon {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 15px;
  height: 15px;
  background-image: url("../images/ico_radio_nor.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.selectList li input:checked + .icon {
  background-image: url("../images/ico_radio_sel.svg");
}

.itemList .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.itemList .item .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  word-break: keep-all;
}
.itemList .item .info .detail {
  font-size: 0.9333333333rem;
  line-height: 1.43;
  font-weight: 400;
}
.itemList .item .info .date {
  display: block;
  margin-top: 3px;
  font-size: 0.9333333333rem;
  color: #7d7d7d;
}
.itemList .item .status {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 20px;
}
.itemList .item .status span {
  font-size: 0.9333333333rem;
}

.brdList {
  margin-top: 7px;
}
.brdList .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  padding: 10px 25px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.brdList .item .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 106px;
  height: 106px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brdList .item .image img {
  max-width: 100%;
  max-height: 100%;
}
.brdList .item .info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 99px;
          flex: 1 1 99px;
  padding-left: 15px;
}
.brdList .item .info .subject {
  color: #7d7d7d;
  font-size: 0.9333333333rem;
}
.brdList .item .info .title {
  display: block;
  margin-top: 5px;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  height: 59px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: keep-all;
}
.brdList .item .date {
  margin-top: 3px;
  color: #7d7d7d;
  font-size: 0.8666666667rem;
}

.attachArea {
  margin: 0 25px;
}
.attachArea .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
}
.attachArea .list:after {
  content: "";
  display: block;
  clear: both;
}
.attachArea .list li {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0 15px 15px;
}
.attachArea .list li .image {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.attachArea .list li .btnDel {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../images/ico_btn_del.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.attachArea .list li.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8e8e8;
}
.attachArea .list li.add .btnAdd {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  background: url("../images/ico_img.svg") no-repeat center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.attachArea .list li.add .btnAdd input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pShoppingMain .contents, .pShoppingDetail .contents {
  border-top: 7px solid #f9f9f9;
}

.pFriendsMine .contents, .pFriendsRequest .contents, .pFriendsRecommend .contents, .pFriendsInvite .contents,
.pWalletSend .contents, .pWalletReceive .contents, .pWalletDetails .contents {
  padding-top: 39px;
}
.pFriendsMine .contents .tab, .pFriendsRequest .contents .tab, .pFriendsRecommend .contents .tab, .pFriendsInvite .contents .tab,
.pWalletSend .contents .tab, .pWalletReceive .contents .tab, .pWalletDetails .contents .tab {
  z-index: 50;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  max-width: 768px;
  margin: 0 auto;
  background-color: #fff;
}

.pBoardDetail, .pInquiryList, .pInquiryWrite {
  padding-bottom: 47px;
}

.pFreebeeList {
  padding-top: 0;
}
.pFreebeeList .conTitle {
  font-size: 1rem;
  color: #222;
}
.pFreebeeList .itemList .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  padding-left: 98px;
}
.pFreebeeList .itemList .item:before {
  display: block;
  content: "";
  width: 58px;
  height: 38px;
  background-image: url("../images/ico_coin_freebee.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -19px;
}
.pFreebeeList .itemList .item:first-of-type {
  margin-top: 0;
}
.pFreebeeList .itemList .item .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pFreebeeList .itemList .item .info .coin {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
}
.pFreebeeList .itemList .item .info .txtInfo {
  margin-top: 3px;
  font-size: 0.9333333333rem;
  color: #4a4a4a;
}
.pFreebeeList .itemList .item .status {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 15px;
}
.pFreebeeList .itemList .item .status .timer {
  display: block;
  width: 70px;
  height: 26px;
  font-size: 0.9333333333rem;
  line-height: 26px;
  color: #4a4a4a;
  text-align: center;
  background-color: #ffe34c;
  border-radius: 4px;
}
.pFreebeeList .itemList .item .status .btnStatic {
  font-size: 0.9333333333rem;
}

.pShoppingMain {
  padding-top: 0;
  padding-bottom: 67px;
  padding-bottom: 18.6111111111vw;
}
.pShoppingMain .menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -10px;
  padding: 0 25px 20px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.pShoppingMain .menuList li {
  width: 50%;
  margin-top: 19px;
}
.pShoppingMain .menuList li a {
  display: block;
  text-align: center;
}
.pShoppingMain .menuList li .text {
  display: block;
  margin-top: 8px;
  font-size: 1rem;
  line-height: 1;
}

.pShoppingDetail {
  padding-bottom: 48px;
}

.pJackpotList .congrats {
  border-bottom: 1px solid #e8e8e8;
}
.pJackpotList .conTitle {
  margin-top: 7px;
  padding-bottom: 0;
  background-color: #fff;
}
.pJackpotList .prdList .item:first-of-type {
  margin-top: 0;
}
.pJackpotList .prdList .item .image {
  width: 113px;
  height: 113px;
}
.pJackpotList .prdList .item .info {
  padding-left: 15px;
}
.pJackpotList .prdList .item .info .name {
  height: 42px;
}
.pJackpotList .prdList .item .setCoin {
  margin-top: 5px;
}
.pJackpotList .prdList .item .setCoin .coin {
  font-size: 0.9333333333rem;
}
.pJackpotList .prdList .item .text {
  margin-top: 5px;
}

.pJackpotDetail {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pJackpotDetail .contents {
  position: relative;
  height: 100%;
  padding-top: 97px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pJackpotDetail .prize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pJackpotDetail .luckydraw {
  min-height: 100%;
  margin-top: 7px;
  padding-top: 35px;
  text-align: center;
  background-image: url("../images/bg_jackpot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pJackpotDetail .luckydraw .question {
  color: #fff;
  font-size: 1rem;
  text-shadow: 0 1px 5px rgba(103, 68, 0, 0.38);
}
.pJackpotDetail .luckydraw .letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pJackpotDetail .luckydraw .letters input {
  width: 50px;
  height: 50px;
  margin: 10px 8px 0 7px;
  font-size: 1.2rem;
  color: #4a4a4a;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.13);
}
.pJackpotDetail .luckydraw .msg {
  padding: 20px 0 13px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-shadow: 0 1px 5px rgba(103, 68, 0, 0.38);
}
.pJackpotDetail .luckydraw .machine {
  height: 335px;
  margin-top: 33px;
  padding-top: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/bg_jackpotmachin_off.png");
  background-repeat: no-repeat;
  background-size: 360px auto;
  background-position: center top;
}
.pJackpotDetail .luckydraw .machine.on {
  background-image: url("../images/bg_jackpotmachin_on.png");
}
.pJackpotDetail .luckydraw .machine.on .lever .button {
  color: #fff;
}
.pJackpotDetail .luckydraw .machine .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 285px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pJackpotDetail .luckydraw .machine .group .reel {
  overflow: hidden;
  width: 93px;
  height: 127px;
  margin-left: 3px;
  line-height: 127px;
  vertical-align: middle;
}
.pJackpotDetail .luckydraw .machine .group .reel:first-of-type {
  margin-left: 0;
}
.pJackpotDetail .luckydraw .machine .group .reel li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 127px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pJackpotDetail .luckydraw .machine .group .reel li img {
  max-width: 75px;
  max-height: 75px;
}
.pJackpotDetail .luckydraw .machine .lever {
  margin-top: 35px;
}
.pJackpotDetail .luckydraw .machine .lever .button {
  display: block;
  width: 300px;
  height: 53px;
  font-size: 1.2rem;
  color: #b2b2b2;
  font-weight: 700;
}

.pCouponList .prdList .item {
  position: relative;
  padding: 10px 25px;
  border-bottom-width: 0;
}
.pCouponList .prdList .item:after {
  position: absolute;
  top: 0;
  right: 100px;
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  border-left: 1px dashed #e8e8e8;
}
.pCouponList .prdList .item .image {
  width: 76px;
  height: 76px;
}
.pCouponList .prdList .item .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 76px;
          flex: 1 1 76px;
}
.pCouponList .prdList .item .info .name {
  color: #000;
}
.pCouponList .prdList .item .info .text {
  font-size: 1rem;
}
.pCouponList .prdList .item .status {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 24px;
  color: #4a90e2;
}
.pCouponList .prdList .item.done {
  background-color: #e8e8e8;
  cursor: default;
}
.pCouponList .prdList .item.done:after {
  border-left-color: #afafaf;
}
.pCouponList .prdList .item.done .status {
  color: #4a4a4a;
}

.pCouponDetail {
  padding-bottom: 20px;
}
.pCouponDetail .coupon {
  padding: 20px 25px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.pCouponDetail .coupon .image {
  display: inline-block;
  width: 125px;
  height: 125px;
}
.pCouponDetail .coupon .info .brand {
  margin-top: 15px;
  color: #afafaf;
  font-size: 0.8666666667rem;
}
.pCouponDetail .coupon .info .name {
  margin-top: 5px;
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
}
.pCouponDetail .coupon .info .setCoin {
  margin-top: 10px;
  color: #000;
  font-size: 1rem;
}
.pCouponDetail .coupon .info .code {
  margin-top: 15px;
}
.pCouponDetail .coupon .info .code .barcode {
  display: inline-block;
  width: 179px;
  margin-bottom: 9px;
}
.pCouponDetail .coupon .info .code .number {
  font-size: 0.9333333333rem;
}
.pCouponDetail .couponDesc {
  padding: 10px 25px;
  color: #7d7d7d;
  font-size: 1rem;
  line-height: 1.5;
  word-break: keep-all;
}
.pCouponDetail .couponDesc h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
}

.pFriendsMine .titleArea .desc, .pFriendsRequest .titleArea .desc {
  margin-top: 0;
  font-size: 0.9333333333rem;
  color: #4a4a4a;
}

.pFriendsRecommend .nothing {
  padding: 0;
}
.pFriendsRecommend .nothing .desc {
  margin-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

.pFriendsInvite {
  padding-bottom: 47px;
}
.pFriendsInvite .eventArea {
  padding-top: 14px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}
.pFriendsInvite .eventArea:before {
  display: block;
  content: "";
  width: 150px;
  height: 145px;
  background-image: url("../images/bg_coin.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 auto 15px;
}
.pFriendsInvite .eventArea .title {
  display: inline-block;
  padding: 0 6px 3px;
  font-size: 1rem;
  color: #fff;
  line-height: 1.47;
  font-weight: 400;
  letter-spacing: -0.038em;
  background-color: #ffc506;
}
.pFriendsInvite .eventArea .desc {
  margin: 10px 0 10px;
  padding: 0 25px;
  font-size: 0.9333333333rem;
  line-height: 1.38;
}
.pFriendsInvite .eventArea .goalCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 25px;
  font-size: 1rem;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
}
.pFriendsInvite .eventArea .goalCount > span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pFriendsInvite .eventArea .goalCount .count {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 10px;
}
.pFriendsInvite .eventArea .goalCount .count .number {
  display: inline-block;
  width: 32px;
  height: 28px;
  padding: 0 10px 0 5px;
  color: #4a4a4a;
  line-height: 28px;
  text-align: right;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #fff;
}
.pFriendsInvite .eventArea .goalCount .count .text {
  font-size: 0.9333333333rem;
}
.pFriendsInvite .invite {
  margin-top: 7px;
  padding: 15px 25px 21px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.pFriendsInvite .invite .title {
  font-size: 0.8666666667rem;
  color: #4a4a4a;
  font-weight: 400;
}
.pFriendsInvite .invite .accumulate {
  display: block;
  margin-top: 5px;
  font-size: 1.3333333333rem;
  color: #222;
}
.pFriendsInvite .invite .accumulate .number {
  font-size: 2.3333333333rem;
  color: #000;
}
.pFriendsInvite .invite .myCode {
  display: inline-block;
  height: 20px;
  margin-top: 10px;
  padding: 4px 10px;
  font-size: 0.9333333333rem;
  color: #222;
  border: 1px solid #e8e8e8;
  background-color: #f9f9f9;
  border-radius: 14px;
}
.pFriendsInvite .invite .myCode .code {
  letter-spacing: -1px;
  font-weight: 400;
}
.pFriendsInvite .invite .myCode .btnCopy {
  margin-left: 10px;
  font-size: 0.8rem;
  color: #9b9b9b;
}

.pWalletSend {
  min-height: 100vh;
  padding-bottom: 47px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pWalletSend .sendBox {
  padding: 15px 25px;
  border-bottom: 1px solid #e8e8e8;
}
.pWalletSend .sendBox .inputWrap {
  padding-bottom: 10px;
}
.pWalletSend .sendBox .inputWrap .searchForm {
  padding: 0;
  border-bottom-width: 0;
}
.pWalletSend .sendBox .inputWrap .searchForm input {
  font-size: 0.9333333333rem;
}
.pWalletSend .sendBox .inputWrap .searchForm input::-webkit-input-placeholder {
  color: #9b9b9b;
}
.pWalletSend .sendBox .inputWrap .searchForm input::-moz-placeholder {
  color: #9b9b9b;
}
.pWalletSend .sendBox .inputWrap .searchForm input:-ms-input-placeholder {
  color: #9b9b9b;
}
.pWalletSend .sendBox .inputWrap .searchForm input::-ms-input-placeholder {
  color: #9b9b9b;
}
.pWalletSend .sendBox .inputWrap .searchForm input::placeholder {
  color: #9b9b9b;
}
.pWalletSend .sendBox .inputWrap .fText {
  margin-top: 10px;
}
.pWalletSend .sendBox .text {
  font-size: 0.9333333333rem;
  color: #9b9b9b;
  text-align: center;
}
.pWalletSend .sendBox .condition {
  padding: 10px 0 5px;
  color: #4a4a4a;
  text-align: center;
}
.pWalletSend .sendBox .condition .coin {
  font-size: 1rem;
  vertical-align: baseline;
}
.pWalletSend .sendBox .condition .coin strong {
  font-size: 1.3333333333rem;
  color: #000;
}
.pWalletSend .sendBox .condition .expire {
  margin-top: 10px;
  font-size: 1rem;
}
.pWalletSend .sendBox .condition .expire strong {
  color: #000;
}
.pWalletSend .info {
  padding: 20px 25px;
  color: #4a4a4a;
  border-top: 7px solid #f9f9f9;
}
.pWalletSend .info .title {
  font-size: 1rem;
}
.pWalletSend .info .list {
  margin-top: 15px;
  padding-left: 15px;
  font-size: 0.9333333333rem;
  line-height: 1.43;
}
.pWalletSend .info .list li {
  list-style: decimal;
}
.pWalletSend .info .list li + li {
  margin-top: 10px;
}

.pWalletDetails .item .info .detail {
  font-size: 1rem;
}
.pWalletDetails .item .info .date {
  margin-top: 5px;
  font-size: 1rem;
}
.pWalletDetails .item .status strong {
  font-size: 1.0666666667rem;
}

.pCoinDetails .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 25px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #4a4a4a;
  background-color: #ffe34c;
}
.pCoinDetails .userInfo .nickname {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
}
.pCoinDetails .userInfo .coin {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 15px;
}
.pCoinDetails .extinctionCoin {
  padding: 10px 25px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.pCoinDetails .extinctionCoin .conTitle {
  padding: 0 0 10px;
  font-size: 0.9333333333rem;
  color: #7d7d7d;
  border-bottom: 1px solid #e8e8e8;
}
.pCoinDetails .extinctionCoin .detail .coinInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.pCoinDetails .extinctionCoin .detail .coinInfo dt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pCoinDetails .extinctionCoin .detail .coinInfo dd {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.pCoinDetails .extinctionCoin .detail .txtInfo {
  margin-top: 10px;
  font-size: 0.8666666667rem;
  color: #7d7d7d;
}
.pCoinDetails .section {
  padding: 0;
  background-color: transparent;
}
.pCoinDetails .itemList .item .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pCoinDetails .itemList .item .detail .title, .pCoinDetails .itemList .item .detail .nickname, .pCoinDetails .itemList .item .detail .date {
  display: block;
}
.pCoinDetails .itemList .item .detail .title {
  margin: 0;
  padding: 0 0 5px;
  color: #7d7d7d;
}
.pCoinDetails .itemList .item .detail .nickname {
  margin-top: 5px;
}
.pCoinDetails .itemList .item .detail .date {
  margin-top: 5px;
  color: #7d7d7d;
}
.pCoinDetails .itemList .item .coin {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 15px;
  font-size: 1.0666666667rem;
}

.pSettingList {
  padding-bottom: 39px;
}
.pSettingList .divide .conTitle {
  height: 38px;
  padding: 0 25px;
  font-size: 0.9333333333rem;
  line-height: 38px;
  color: #9b9b9b;
  border-bottom: 1px solid #e8e8e8;
}
.pSettingList .menuList li {
  border-bottom: 1px solid #e8e8e8;
  height: 42px;
  padding: 0 25px;
  line-height: 42px;
  letter-spacing: -1px;
  background-color: #fff;
}
.pSettingList .menuList li a {
  position: relative;
  display: block;
  height: 100%;
}
.pSettingList .menuList li a:after {
  display: block;
  content: "";
  width: 7px;
  height: 13px;
  background-image: url("../images/ico_arrow_link.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
}
.pSettingList .menuList li.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.pSettingList .menuList li.check .title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pSettingList .menuList li.check .buttonChk {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: right;
}
.pSettingList .menuList li.version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}
.pSettingList .menuList li.version .title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.pSettingList .menuList li.version .status {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}
.pSettingList .menuList li.version a {
  padding: 0;
}
.pSettingList .menuList li.version a:after {
  display: none;
}

.pBoardList .congrats {
  border-bottom: 1px solid #e8e8e8;
}
.pBoardList .nothing {
  height: calc(100vh - 135px);
  margin: 7px auto 0;
  padding: 131px 0 0;
  border-bottom: 7px solid #f9f9f9;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pBoardList .nothing .desc {
  padding-top: 70px;
}
.pBoardList .nothing .desc:before {
  width: 75px;
  height: 55px;
  background-image: url("../images/bg_event.svg");
}

.pBoardDetail .info {
  padding: 15px 25px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.pBoardDetail .info .subject {
  font-size: 0.9333333333rem;
  color: #7d7d7d;
}
.pBoardDetail .info .title {
  margin-top: 5px;
  font-size: 1rem;
  color: #000;
}
.pBoardDetail .info .date {
  display: block;
  margin-top: 10px;
  font-size: 0.8666666667rem;
  color: #7d7d7d;
}
.pBoardDetail .detail {
  margin-top: 7px;
  background-color: #fff;
}
.pBoardDetail .detail .platinum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 25px 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.pBoardDetail .detail .platinum:before {
  display: inline-block;
  content: "";
  width: 150px;
  height: 144px;
  background-image: url("../images/bg_event_platinum.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 auto;
}
.pBoardDetail .detail .platinum p {
  margin-top: 20px;
  color: #4a4a4a;
}
.pBoardDetail .detail .platinum .btnPlatinum {
  margin: 25px 0 20px;
}

.pInquiryList .conTitle {
  max-height: 70px;
  font-size: 1rem;
  line-height: 1.47;
  color: #000;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pInquiryList .txtEllipsis {
  letter-spacing: -1px;
}
.pInquiryList .date {
  color: #7d7d7d;
}
.pInquiryList .nothing {
  height: calc(100vh - 168px);
  padding-top: 140px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pInquiryList .nothing .desc:before {
  width: 62px;
  height: 62px;
  background-image: url("../images/bg_inquiry.svg");
}
.pInquiryList .board {
  border-top: 1px solid #e8e8e8;
}
.pInquiryList .board h3 {
  font-weight: 400;
}
.pInquiryList .board .list {
  border-bottom: 1px solid #e8e8e8;
}
.pInquiryList .board .list .item {
  display: block;
  padding: 10px 25px;
  border-top: 1px solid #e8e8e8;
  background-color: #fff;
}
.pInquiryList .board .list .item .title {
  max-height: 60px;
  line-height: 1.38;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: keep-all;
}
.pInquiryList .board .list .item .info {
  margin-top: 10px;
  font-size: 0.9333333333rem;
}
.pInquiryList .board .list .item .info .date {
  color: #7d7d7d;
}
.pInquiryList .board .list .item .info .status {
  margin-left: 20px;
  color: #9b9b9b;
}

.pInquiryWrite .inputWrap {
  padding: 0 25px;
}
.pInquiryWrite .inputWrap .fText {
  background-color: #fff;
}
.pInquiryWrite .inputWrap .fText + .fText {
  margin-top: 10px;
}
.pInquiryWrite .inputWrap .fTextarea {
  margin-top: 10px;
  background-color: #fff;
}
.pInquiryWrite .deviceInfo {
  padding: 10px 25px;
  font-size: 0.9333333333rem;
  line-height: 1.43;
  color: #9b9b9b;
}

.pInquiryRead .conTitle {
  background-color: #fff;
}
.pInquiryRead .questionSec, .pInquiryRead .AnswerSec {
  position: relative;
  line-height: 1.47;
}
.pInquiryRead .questionSec:before, .pInquiryRead .AnswerSec:before {
  display: block;
  content: "Q";
  position: absolute;
  top: 10px;
  left: 25px;
  font-weight: 700;
}
.pInquiryRead .questionSec .date, .pInquiryRead .AnswerSec .date {
  display: block;
  margin-top: 5px;
  font-size: 0.9333333333rem;
  color: #9b9b9b;
}
.pInquiryRead .questionSec {
  border-top: 1px solid #e8e8e8;
}
.pInquiryRead .questionSec .titleArea {
  padding: 10px 25px 10px 42px;
  background-color: #fff;
}
.pInquiryRead .questionSec .titleArea .title {
  color: #4a4a4a;
  font-weight: 400;
}
.pInquiryRead .questionSec .detail {
  padding: 15px 25px 15px 42px;
  border: solid #e8e8e8;
  border-width: 1px 0 1px 0;
  background-color: #f9f9f9;
}
.pInquiryRead .AnswerSec {
  padding: 10px 25px 10px 42px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.pInquiryRead .AnswerSec:before {
  content: "A";
}
.pInquiryRead .AnswerSec .detail {
  background-color: #fff;
}

.layer .coinInfo {
  margin: 0;
  padding: 0;
}
.layer .coinInfo li:first-of-type {
  padding-top: 0;
}
.layer .coinInfo li + li {
  border-top-width: 0;
  border-bottom: 1px dashed #e8e8e8;
}
.layer .coinInfo li.price {
  padding: 0 0 10px;
}
.layer .coinInfo li.balance {
  padding: 13px 0 14px;
  font-size: 1rem;
  border-bottom-width: 0;
}

.layerAccept .titleArea h2 {
  line-height: 1.47;
}

.layerChargeCoin .coinInfo li:last-of-type {
  padding: 0 0 10px;
}
.layerChargeCoin .coinInfo li .tit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}
.layerChargeCoin .coinInfo li .coin {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}
.layerChargeCoin .desc {
  margin-top: 10px;
}
.layerChargeCoin .btnList {
  padding-top: 3px;
}
.layerChargeCoin .btnList li {
  margin-top: 15px;
}
.layerChargeCoin .btnList li [class*=btn] {
  height: 36px;
  line-height: 36px;
  font-weight: 400;
  border-radius: 5px;
}

.layerPay .coinInfo li:last-of-type {
  padding: 0 0 10px;
}
.layerPay .coinInfo li .tit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  letter-spacing: -1px;
}
.layerPay .coinInfo li .coin {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 180px;
          flex: 1 1 180px;
}

.layerPayResult .content .product {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #e8e8e8;
}
.layerPayResult .content .desc {
  text-align: left;
}
.layerPayResult .content .success .txtInfo {
  margin-top: 10px;
  font-size: 0.9333333333rem;
  color: #9b9b9b;
}

.layerStopWatching .content, .layerGetCoin .content {
  padding: 29px 23px;
}
.layerStopWatching .desc, .layerGetCoin .desc {
  font-size: 1rem;
}

.layerSelectFriend .content {
  max-height: calc(100vh - 286px);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}