@charset "UTF-8";
@import "mixin";

html, body, .wrap {
    font-family:$font_notosans;
    font-size:14px;
    color:#272727;
    line-height:1.64;
}
.PCB {display:none;}
.text {
    &-red {color:#ff4876;}
}
.type {
    &-center {
        text-align:center;
    }
}

.wrap {
    padding-top:59px;
}
.header {
    z-index:100;
    position:fixed;
    top:0;
    left:0;
    right:0;
    .inner {
        position:relative;
        height:59px;
        padding:17px 25px;
        border-bottom:1px solid #d8d8d8;
        background-color:$white;
        box-sizing:border-box;
        h1{
            margin-top:5px;
            font-size:1em;
        }
        a {
            display:inline-block;
        }
    }
    img {
        width:182px;
        height:auto;
    }
    .nav {
        z-index:50;
        position:absolute;
        top:59px;
        left:0;
        right:0;
        height:1px;
        ul {
            opacity:0;
            width:100%;
            background-color:$white;
            transform:translateX(100vw);
            transition:opacity 350ms;
            -webkit-transition:opacity 350ms;
        }
        &.show {
            height:auto;
            ul {
                transform:translateX(0);
                opacity:1;
            }
        }
        li {
            border-bottom:1px solid #d8d8d8;
            a {
                display:block;
                padding:10px 26px;
                color:#777;
                text-transform:uppercase;
            }
            &.this a {
                color:#4a90e2;
            }
        }
        .button-menu-mo {
            z-index:110;
            position:absolute;
            top:-43px;
            right:39px;
            display:block;
            width:25px;
            height:26px;
            background:url($bg_url + "ico_menu.svg") no-repeat center;
        }
    }
}
.footer {
    margin-top:-2px;
    font-size:calcRem(13);
    color:#afafaf;
    background-color:#2c2c30;
    .inner {
        padding:20px 25px;
    }
    .copyright {
        word-break:keep-all;
    }
    .info {
        margin-top:15px;
    }
}

.section {
    &.type-dark {
        color:$white;
        background-color:$black_000;
    }
    &.type-gray {
        background-color:#f8f8fa;
    }
    .sec-inner {
        padding:55px 30px 60px;
        .image {
            margin-top:50px;
            text-align:center;
            img {width:100%;}
        }
    }
    .text-title {
        font-size:calcRem(25);
        color:$co_text_title;
        line-height:1;
        text-transform:capitalize;
        span {
            position:relative;
            display:inline-block;
            padding-top:15px;
            &:before {
                display:block;
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:3px;
                background-color:#44485a;
            }
        }
        & + .desc {
            margin-top:15px;
        }
    }
    .desc {
        em {font-weight:500;}
    }
    // main
    &.main {
        position:relative;
        .sec-inner {
            position:absolute;
            bottom:0;
            width:100%;
            height:100%;
            padding:0;
            max-width:none;
            .image {
                margin-top:0;
            }
            .slogan {
                z-index:50;
                position:relative;
                display:table;
                table-layout:fixed;
                width:100%;
                height:100%;
                max-width:1150px;
                margin:0 auto;
                font-size:23px;
                color:$white;
                line-height:30px;
                font-weight:300;
                text-align:left;
                transition:all 350ms;
                .inner {
                    display:table-cell;
                    padding:0 0 25px 25px;
                    vertical-align:bottom;
                    strong{
                        position:relative;
                        &:before {
                            display:block;
                            content:"";
                            position:absolute;
                            top:-10px;
                            left:0;
                            width:22px;
                            height:2px;
                            background-color:$white;
                        }
                    }
                }
            }
        }
    }
    // about
    &.about {
        .desc {
            margin-bottom:50px;
        }
        .list {
            li {
                position:relative;
                padding-left:90px;
                &:before {
                    opacity:0;
                    position:absolute;
                    top:0;
                    left:0;
                    display:block;
                    content:"";
                    width:80px;
                    height:80px;
                    background: {
                        repeat:no-repeat;
                        position:center;
                        size:cover;
                    }
                    -webkit-transition:opacity .5s;
                    transition:opacity .5s;
                }
                &.vision:before {
                    background-image: url($bg_url + "ico_about01_mo.svg");
                }
                &.mission:before {
                    background-image: url($bg_url + "ico_about02_mo.svg");
                    transition-delay:.25s;
                }
                &.value:before {
                    background-image: url($bg_url + "ico_about03_mo.svg");
                    transition-delay:.5s;
                }
                & + li {
                    margin-top:35px;
                }
            }
        }
        &.animated {
            .list li:before {
                opacity:1;
            }
        }
        .sub-title {
            font-size:calcRem(18);
            color:#44485a;
            line-height:1;
            text-transform:capitalize;
            & + .desc {
                margin:12px 0 0;
                font-size:calcRem(12);
            }
        }
    }
    // service
    &.service {
        .sec-inner {
            padding: {
                top:0;
                bottom:30px;
            }
        }
        .front {
            padding: {
                left:25px;
                right:25px;
                @include vwPx(top, 40);
                @include vwPx(bottom, 40);
            }
            background: {
                image:url($bg_url + "bg_service_mo.jpg");
                repeat:no-repeat;
                size:cover;
                position:center;
            }
            color:$white;
            .text-title {
                color:$white;
                span:before {
                    background-color:$white;
                }
            }
            .desc {
                letter-spacing:0.05em;
            }
        }
        .list {
            margin-top:60px;
            li {
                & + li {
                    margin-top:35px;
                }
            }
            .list-title {
                font-size:calcRem(17);
                color:#2e3194;
                text-transform:uppercase;
            }
            .image {
                display:block;
                position:relative;
                margin-top:15px;
            }
            .caption {
                margin-top:15px;
            }
            .subject {
                & + .desc {
                    margin-top:15px;
                }
            }
            .desc {
                font-size:calcRem(13);
                color:#505050;
            }
        }
    }
    // history
    &.history {
        overflow:hidden;
        &.animated {
            .list {
                .incheon, .gwangju {
                    .image {
                        -webkit-transform: translateX(0) scale(1);
                        transform: translateX(0) scale(1);
                    }
                }
            }
        }
        .sec-inner {
            padding-bottom:25px;
        }
        .list {
            margin: {
                top:50px;
                bottom:30px;
            }
            & > li {
                position:relative;
                padding-top:32px;
                & + li {
                    margin-top:35px;
                }
            }
            .image {
                position:absolute;
                top:0;
                margin-top:0;
                box-sizing:border-box;
                -webkit-transition: -webkit-transform .75s, opacity .75s;
                transition: transform .75s, opacity .75s;
                img {
                    width:100%;
                }
            }
            .caption {
                display:flex;
                min-height:346px;
                padding:{
                    @include vwPx(top, 188);
                    bottom:20px;
                }
                font-size:calcRem(13);
                color:$white;
                font-weight:300;
                line-height:1.77;
                box-sizing:border-box;
                .subject {
                    width:78px;
                    font-size:calcRem(16);
                    word-break:keep-all;
                }
                .info {
                    font-size:calcRem(13);
                }
            }
            .incheon {
                .image {
                    left:0;
                    padding-right:30px;
                    -webkit-transform: translateX(-400px) scale(1);
                    transform: translateX(-400px) scale(1);
                }
                .caption {
                    margin-left:30px;
                    padding: {
                        left:20px;
                        right:30px;
                    }
                    background:linear-gradient(136deg, #4252f4, #b22abb);
                    .info {
                        margin-left:27px;
                    }
                }
            }
            .gwangju {
                .image {
                    right:0;
                    padding-left:30px;
                    -webkit-transform: translateX(400px) scale(1);
                    transform: translateX(400px) scale(1);
                    transition-delay:.6s;
                }
                .caption {
                    flex-direction:row-reverse;
                    margin-right:30px;
                    padding: {
                        left:30px;
                        right:20px;
                    }
                    text-align:right;
                    background:linear-gradient(136deg, #4285f4, #2b2abb);
                    .info {
                        margin-right:27px;
                    }
                }
            }
        }
    }
    // partners
    &.partners {
        .sec-inner {
            padding: {
                top:30px;
                bottom:25px;
            }
        }
        .list {
            margin-top:30px;
            font-size:0;
            text-align:center;
            li {
                padding:28px 0;
                font-size:1rem;
                text-align:center;
                background-color:$white;
                box-shadow:0 3px 15px 0 rgba(79, 79, 79, 0.15);
                &:hover {
                    box-shadow:0 3px 15px 0 rgba(79, 79, 79, 0.45);
                }
                & + li {
                    margin-top:35px;
                }
                img {
                    width:38%;
                }
            }
        }
    }
    //contact
    &.contact {
        .sec-inner {
            padding: {
                top:30px;
                bottom:0;
            }
        }
        .text-title {
            span {
                display:inline-block;
                height:37px;
                color:#2e3194;
                letter-spacing:2px;
                text-transform:uppercase;
                border-bottom:1px solid #2e3194;
                &:before {
                    display:none;
                }
            }
        }
        .cod {
            margin-top:30px;
            padding:0 0 20px;
            border-bottom:1px solid #d8d8d8;
        }
        .info-sec {
            margin-top:20px;
        }
        .desc, .desc > li {
            display:block;
            margin-top:10px;
            color:#323232;
        }
        .button {
            display:inline-block;
            margin-top:20px;
            padding:12px;
            color:#000;
            font-size:calcRem(15);
            line-height:1;
            font-weight:500;
            background-color:#eaeaea;
            border-radius:8px;
        }
        .image {
            margin-top:50px;
            img {
                width:100%;
            }
        }
    }

}

@media screen and (min-width: 667px) and (max-width: 1023px) {
    .sec-inner {
        max-width:414px;
        margin:0 auto;
    }
}

@include mo {
    .header {
        .nav {
            li {
                .default {
                    display:none;
                }
                .pop {
                    padding-left:10px;
                    a {
                        display:inline-block;
                        padding: {
                            left:15px;
                            right:15px;
                        }
                        &.current {
                            color:#000;
                        }
                        & + a {
                            position:relative;
                            &:before {
                                position:absolute;
                                top:12px;
                                left:0;
                                display:block;
                                content:"";
                                width:1px;
                                height:20px;
                                background-color:#d8d8d8;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include pc {
    .MOB {display:none;}
    .PCB {display:block;}
    html, body, .wrap {
        font-size:16px;
        line-height:1.6;
    }
    .wrap {
        padding-top:0;
    }
    .header {
        background-color:rgba(0,0,0,0.2);
        -webkit-transition:background-color 350ms;
        transition:background-color 350ms;
        &.full, .nav ul {
            background-color:$black_000;
        }
        .inner {
            @include afterClear();
            max-width:1150px;
            height:61px;
            margin:0 auto;
            padding:0;
            border:0;
            background:transparent;
            h1 {
                float:left;
                width:202px;
                margin-top:0;
                padding-top:23px;
                img {
                    width:100%;
                }
            }
        }
        .nav {
            position:static;
            float:right;
            ul {
                @include afterClear();
                opacity:1;
                transform:translateX(0);
                background-color:transparent;
            }
            li {
                float:left;
                border-bottom:0;
                &.lang {
                    float:right;
                }
                a {
                    padding:0 20px;
                    font-size:17px;
                    color:$white;
                    font-weight:300;
                    line-height:61px;
                    -webkit-transition:color 350ms;
                    transition:color 350ms;
                }
                &.this a {
                    color:#95ACFF;
                }
            }
            .lang {
                position:relative;
                float:right;
                margin-left:10px;
                line-height:61px;
                box-sizing:border-box;
                a {
                    position:relative;
                    display:block;
                    height:20px;
                    padding:4px 25px 2px 20px;
                    font-size:14px;
                    color:#272727;
                    line-height:20px;
                    word-break:keep-all;
                    box-sizing:content-box;
                    &:hover {background:none;}
                    &.current {
                        position:relative;
                        color:#fc0000;
                        &:before {
                            left:11px;
                            background-color:#fc0000;
                        }
                        &:after {
                            right:12px;
                            width:4px;
                            height:4px;
                            margin-top:-1px;
                            border-width:1px 1px 0 0;
                            border-color:#fc0000;
                            transform:rotate(-45deg);
                        }
                    }
                }
                .default {
                    position:relative;
                    display:inline-block;
                    padding:0 20px;
                    color:$white;
                    border:0;
                    background:none;
                    &:before {
                        left:11px;
                        background-color:$white;
                    }
                }
                .default:after, a.current:after {
                    position:absolute;
                    display:inline-block;
                    content:"";
                    top:50%;
                    right:6px;
                    width:6px;
                    height:6px;
                    margin-top:-7px;
                    border:solid $white;
                    border-width:2px 2px 0 0;
                    transform:rotate(135deg);
                }
                 .default:before, a.current:before {
                    position:absolute;
                    display:inline-block;
                    content:"";
                    top:50%;
                    width:3px;
                    height:3px;
                    margin-top:-2px;
                    border-radius:50%;
                 }
                .pop {
                    display:none;
                    opacity:0;
                    position:absolute;
                    top:14px;
                    left:0;
                    padding:3px 0;
                    line-height:1;
                    background:$white;
                    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
                    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
                    transition:all 1s;
                    &.show {
                        display:block;
                        opacity:1;
                    }
                }
            }
            .button-menu-mo {
                display:none;
            }
        }
    }
    .footer {
        font-size:15px;
        .inner {
            max-width:1150px;
            margin:0 auto;
            padding:36px 0;
        }
    }
    .sec-inner {
        max-width:1150px;
        margin:0 auto;
        & > .desc {
            text-align:center;
        }
    }

    .section {
        .sec-inner {
            padding:55px 0 55px;
        }
        .cover {
            position:relative;
            font-size:0;
            .text-title, .desc {
                display:inline-block;
                width:auto;
                margin:0;
                vertical-align:top;
            }
            .text-title {
                position:absolute;
                top:0;
                left:0;
                margin-right:40px;
                font-size:30px;
                span {
                    padding-top:40px;
                     word-break:keep-all;
                }
            }
            .desc {
                position:relative;
                margin-top:0;
                padding-top:40px;
                font-size:20px;
                &:before {
                    display:block;
                    content:"";
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:3px;
                    background-color:#44485a;
                }
            }
        }
        .text-title {
            margin-bottom:40px;
            font-size:20px;
        }
        // main
        &.main {
            .sec-inner {
                .slogan {
                    font-size:80px;
                    line-height:1.29;
                    .inner {
                        padding:0 0 160px;
                        strong {
                            &:before {
                                width:77px;
                                height:6px;
                            }
                        }
                    }
                }
                &:after {
                    z-index:10;
                    position:absolute;
                    top:0;
                    left:0;
                    display:block;
                    content:"";
                    width:100%;
                    height:100%;
                    background:url($bg_url + "bg_video_overlay.png") repeat left top;
                    background-size:3px;
                }
            }
            .video {
                width:100%;
            }
        }
        // about
        &.about {
            .sec-inner {
                padding: {
                    top:110px;
                    bottom:110px;
                }
            }
            .cover {
                padding-left:175px;
            }
            .list {
                display:table;
                table-layout:fixed;
                width:100%;
                margin-top:150px;
                li {
                    display:table-cell;
                    padding-left:0;
                    & + li {
                        margin-top:0;
                        padding-left:5%;
                    }
                    &:before {
                        position:static;
                        margin:0 auto;
                        width:280px;
                        height:280px;
                    }
                }
            }
            .sub-title {
                margin-top:40px;
                font-size:25px;
                text-align:center;
                & + .desc {
                    margin-top:25px;
                    font-size:18px;
                }
            }
        }
        // service
        &.service {
            .sec-inner {
                padding: {
                    top:55px;
                    bottom:55px;
                }
            }
            .front {
                padding: {
                    left:0;
                    right:0;
                }
                background-image:url($bg_url + "bg_service.jpg");
            }
            .cover {
                max-width:1150px;
                margin:0 auto;
                padding-left:150px;
                box-sizing:border-box;
                .desc:before {
                    background-color:$white;
                }
            }
            .list {
                margin-top:50px;
                font-size:0;
                text-align:center;
                & > li {
                    display:inline-block;
                    width:45%;
                    max-width:513px;
                    margin-top:70px;
                    font-size:18px;
                    vertical-align:top;
                    & + li {
                        margin-top:70px;
                    }
                    &:nth-of-type(2n) {
                        margin-left:10%;
                    }
                }
                .list-title {
                    font-size:25px;
                    text-align:left;
                }
                .image {
                    margin-top:25px;
                }
                .caption {
                    margin-top:30px;
                    text-align:left;
                    .title {
                        font-size:18px;
                        font-weight:700;
                    }
                    .desc {
                        margin-top:25px;
                    }
                }
            }
        }
        // history
        &.history {
            .sec-inner {
                padding: {
                    top:110px;
                    bottom:55px;
                }
            }
            .cover {
                padding-left:175px;
            }
            .list {
                margin:165px 0 0;
                padding-bottom:95px;
                & > li {
                    position:relative;
                    margin-bottom:50px;
                    padding:{
                        top:0;
                    }
                    & + li {
                        margin-top:140px;
                    }
                    &:after {
                        z-index:5;
                        position:absolute;
                        top:0;
                        display:block;
                        content:"";
                        width:56%;
                        height:100%;
                    }
                    figure {
                        z-index:10;
                        position:relative;
                        max-width:1150px;
                        margin:0 auto;
                    }
                }
                .image {
                    top:-50px;
                    width:72%;
                }
                .caption {
                    display:block;
                    min-height:515px;
                    padding: {
                        top:65px;
                    }
                    .subject {
                        font-size:35px;
                        letter-spacing:0.03em;
                        line-height:1.6;
                        font-weight:300;
                        strong {
                            display:block;
                            font-weight:500;
                        }
                        &:after {
                            display:inline-block;
                            content:"";
                            width:1px;
                            height:33px;
                            background-color:$white;
                            transform:rotate(-315deg);
                        }
                    }
                    .info {
                        font-size:20px;
                        line-height:1.8;
                        font-weight:300;
                    }
                }
                .incheon {
                    &:after {
                        right:0;
                        background:#b22abb;
                        background:linear-gradient(136deg, #4252f4, #b22abb);
                        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4252f4', endColorstr='#b22abb',GradientType=1 );
                    }
                    .image {
                        padding-right:0;
                    }
                    .caption {
                        margin:0;
                        padding: {
                            left:72%;
                            bottom:0;
                        }
                        text-align:right;
                        background:none;
                        .subject {
                            &:after {
                                margin-right:16px;
                            }
                        }
                    }
                }
                .gwangju {
                    &:after {
                        left:0;
                        background:#2b2abb;
                        background:linear-gradient(136deg, #4285f4, #2b2abb);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4285f4', endColorstr='#2b2abb',GradientType=1 );
                    }
                    .caption {
                        margin:0;
                        padding: {
                            right:72%;
                        }
                        text-align:left;
                        background:none;
                        .subject {
                            &:after {
                                margin-left:16px;
                            }
                        }
                    }
                }
            }
        }
        // partners
        &.partners {
            .sec-inner {
                padding: {
                    top:55px;
                    bottom:150px;
                }
            }
            .cover {
                padding-left:214px;
            }
            .list {
                display:table;
                table-layout:fixed;
                width:100%;
                margin-top:100px;
                li {
                    display:inline-block;
                    width:45%;
                    max-width:513px;
                    height:212px;
                    padding:57px 0;
                    box-sizing:border-box;
                    transition:all .35s;
                    & + li {
                        margin: {
                            top:0;
                            left:10%;
                        }
                    }
                    a {display:block;}
                    img {
                        width:44%;
                    }
                }
                &.col3 {
                    li {
                        width:30%;
                        box-sizing:border-box;
                        & + li {
                            margin: {
                                top:0;
                                left:5%;
                            }
                        }
                        img {width:100%;}
                        &.sbs {
                            padding: {
                                left:5%;
                                right:5%;
                            }
                        }
                        &.codlabs {
                            padding: {
                                left:5%;
                                right:5%;
                            }
                        }
                        &.mycompany {
                            padding: {
                                left:2.5%;
                                right:2.5%;
                            }
                        }
                    }
                }
            }
        }
        // contact
        &.contact {
            .sec-inner {
                position:relative;
                height:1px;
                padding:0;
            }
            .text-box {
                position:absolute;
                top:212px;
                right:-189px;
                width:56%;
                padding:45px 50px;
                font-size:18px;
                background-color:$white;
                box-sizing:border-box;
            }
            .text-title {
                margin-bottom:48px;
                font-size:18px;
                text-align:left;
            }
            .cod {
                font-size:30px;
            }
            .button {
                font-size:18px;
            }
            .image {
                margin-top:0;
            }
        }
    }
}

@include pcSmall {
    .wrap {
        width:100%;
    }
    .header {
        .inner {
            padding:0 25px;
        }
        .nav {
            li {
                a {
                    padding:0 7px;
                    font-size:15px;
                }
            }
        }
    }
    .section {
        .sec-inner {
            padding: {
                left:40px;
                right:40px;
            }
            box-sizing:border-box;
        }
        // main
        &.main {
            .sec-inner {
                .slogan {
                    font-size:45px;
                    line-height:1.29;
                    .inner {
                        padding:0 0 50px 25px;
                        strong {
                            &:before {
                                width:77px;
                                height:6px;
                            }
                        }
                    }
                }
            }
        }
        &.about {
            .list li:before {
                width:200px;
                height:200px;
            }
        }
        &.service {
            .front {
                padding:{
                    left:40px;
                    right:40px;
                }
            }
        }
        &.partners {
            .list {
                li {
                    height:160px;
                    padding:35px 0;
                }
            }
        }
        &.contact {
            .text-box {
                top:30px;
                right:40px;
                width:35%;
                padding:25px 20px;
                font-size:15px;
            }
            .text-title {
                margin-bottom:15px;
            }
            .cod {
                padding-bottom:10px;
                font-size:22px;
            }
            .info-sec {
                margin-top:15px;
            }
            .button {
                margin-top:15px;
            }
        }
    }
}

@media screen and (min-width: 1149px) and (max-width: 1550px) {
    .section.contact .text-box {
        top:110px;
        right:0;
        width:40%;
        padding:25px 25px;
        .text-title {
            margin-bottom:20px;
        }
    }
}
























