@charset "UTF-8";

// vw 사이즈 계산
@function calcVw($target) {
    @return ($target / 3.6) * 1vw;
}

@function calcVwT($target) {
    @return ($target / 7.68) * 1vw;
}

// rem 사이즈 계산
@function calcRem($target) {
    @return ($target / 15) * 1rem;
}

// % 사이즈 계산
@function calcPer($target) {
    @return ($target / 360) * 100%;
}

//color
$white: #fff;

$black_001: #000;
$black_002: #4a4a4a;
$black_003: #7d7d7d;
$black_004: #9b9b9b;
$black_005: #222;

$gray_001: #e8e8e8;
$gray_002: #f3f3f3;
$gray_003: #f9f9f9;
$gray_004: #eee;
$gray_005: #f4f4f4;
$gray_006: #5d5d5d;
$gray_007: #afafaf;
$gray_008: #f6f6f6;

$blue_001:#4a90e2;
$blue_002:#4267B2;

$red_001:#f65037;

$yellow_001:#ffc506;
$yellow_002:#ffe34c;

$black_op_001:rgba(0, 0, 0, 0.55);
$black_op_002:rgba(0, 0, 0, 0.7);
$black_op_003:rgba(67, 67, 67, 0.6);
$black_op_004:rgba(67, 67, 67, 0.5);

$white_op_001:rgba(67, 67, 67, 0.5);

$green_001:rgba(30, 188, 97, 0.92);

$bg_url: "../images/";

@keyframes spinner {
    to {transform: rotate(360deg);}
}

// size
$tabet_s:710px;
$mobile_l:414px;
$mobile_s:320px;

@mixin mo {
    @media screen and  (max-width: #{$mobile_l}) {
        @content;
    }
}

@mixin vwPx($prop, $size) {
    #{$prop}:($size) + px;
    #{$prop}:calcVw($size);
}

@mixin rem($prop, $size) {
    #{$prop}:calcRem($size);
}

@mixin bgProp {
    background: {
        repeat:no-repeat;
        position:center;
        size:cover;
    }
}

@mixin afterClear {
    &:after {
        content: "";
        display: block;
        clear: both;
      }
}

@mixin pseudo($display, $width, $height, $backgroundImage) {
    display: $display;
    content:"";
    width:($width) + px;
    height:($height) + px;
    background: {
        image:url($backgroundImage);
        position:center;
        size:cover;
        repeat:no-repeat;
    }
    vertical-align:middle;
}

@mixin mediaPseudo($width, $height) {
    width:calcVw($width);
    height:calcVw($height);
}

