:root {
    --color-point: #f93854;
}

$font-tadak:'Tadak';
$font-skyer:'skyer';
$font-designhouse:'designhouse';
$font-taja:'tajaKR';

$bg_url: '../images/';

@mixin bgProp {
    background: {
        repeat:no-repeat;
        position:center;
        size:cover;
    }
}

@mixin afterClear {
    &:after {
        content: "";
        display: block;
        clear: both;
      }
}

@mixin mo {
    @media screen and  (max-width: #{768px}) {
        @content;
    }
}

@mixin pcSmall{
    @media screen and (min-width: #{769px}) and (max-width: #{1149px}) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: #{769px}) {
        @content;
    }
}