@charset "utf-8";
@import "mixin.scss";


body.overlay {
  overflow: hidden;
  height: 100%;
}

.wrap {
  overflow: hidden;
  @include width-max_min(320px, 720px);
  padding: {
    top: 52px;
    right: safe(right, env);
    right: safe(right, constant);
    left: safe(left, env);
    left: safe(left, constant);
    bottom: safe(bottom, env);
    bottom: safe(bottom, constant);
    bottom: 0;
  }

  line-height: 1.38;
  background: #fff;

  &.pb-0 {
    padding-bottom: 0;
  }

  &.fixed-bottom {
    bottom: safe(bottom, env, 60px);
    bottom: safe(bottom, constant, 60px);
    bottom: 60px;
  }

  .head-button {
    z-index:20;
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding: 18px 20px 10px;
    @include width-max_min(320px, 720px);
    height: 24px;
    background: #fff;

    .btn-close {
      position: absolute;
      top:18px;
      right:20px;
    }
  }

  .content {
    padding: 40px 30px 60px;

    &.pt-20 {
      padding-top: 20px;
    }

    &.pb-120 {
      padding-bottom: 120px;
    }

    &.content-incorrect {
      padding: {
        top: 165px;
        bottom: 0;
      }
    }
  }

  .footer {
    &.fixed {
      z-index:50;
      position: fixed;
      left:0;
      right:0;
      bottom:0;
      bottom: safe(bottom, env);
      bottom: safe(bottom, constant);
      @include width-max_min(320px, 720px);
    }

    .logo {
      padding-bottom: 32px;
      text-align: center;
    }
  }
}
