@charset "UTF-8";
/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img {margin:0; padding:0; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
html {width:100%; min-height:100%; font-size:14px;}
body,code {font-family:'Monospace', Helvetica, Arial,sans-serif; word-break:break-all; word-wrap:break-word; -webkit-hyphens:none; hyphens:none; color:#333; background:#fff; -webkit-text-size-adjust:none;}
/*body,code {font-family:'Noto Sans KR', Helvetica,Arial,sans-serif; word-break:break-all; word-wrap:break-word; -webkit-hyphens:none; hyphens:none; color:#333; background:#fff; -webkit-text-size-adjust:none;}*/
ul,ol,dl,li {list-style:none;}
img,fieldset {border:0; max-width:100%; vertical-align:top;}
i,em,address {font-style:normal;}
table {table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse;}
table img {vertical-align:middle;}
th,td {border:0; word-wrap:break-word;}
input,select,textarea {font-family:'Noto Sans KR', Helvetica, Arial, sans-serif; font-size:14px; color:#4c4c4f; vertical-align:middle; /*-webkit-appearance:none; */-webkit-border-radius:0;}
label {cursor:pointer;}
legend,caption,hr.layout {visibility:hidden; overflow:hidden; text-indent:-120%; white-space:nowrap; width:0; height:0; font-size:0; line-height:0; border:0;}
button {overflow:visible; padding:0; margin:0; border:0; outline:0; cursor:pointer; font-family:'Noto Sans KR', Helvetica, Arial, sans-serif; background:transparent;}
button::-moz-focus-inner {padding:0; border:0;}
a {text-decoration:none; color:#777;}
a:hover {color:#3C77EB; text-decoration:none;}
a[href^="tel"]:hover {text-decoration:none;}

/* html5 */
object,del,sub,var {margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section {display:block;}

/* skipNavigation */
#skipNavigation a {position:absolute; left:0; top:0; display:block; overflow:hidden; margin-left:-1px; margin-bottom:-1px; width:1px; height:1px; text-align:center; color:#000; white-space:nowrap;}
#skipNavigation a:focus, #skipNavigation a:hover, #skipNavigation a:active {z-index:100; padding:10px 0; width:100%; height:auto; background:#c4122f; color:#fff;}

/* blind */
.blind {overflow:hidden; position:absolute; clip:rect(0 0 0 0); margin:-1px; width:1px; height:1px; color:transparent;}

/* layout */
body {}
.header {display:flex; display:-webkit-flex; display:-ms-flexbox; flex-direction:column; /*height:70px;*/ background:#193047;}
.header .headTop {display:flex; display:-webkit-flex; padding:5px 0 3px; background:#fff;}
.header .headTop h1 {-webkit-flex:1; -ms-flex:1; flex:1; text-align:center;}
.header .headTop h1 img {width:100px;}
.header .headTop .notice {-webkit-flex:6; flex:6; padding-left:60px; line-height:32px;}
.header .headTop .notice .badge {display:inline-block; margin:-2px 4px 0 0; padding:3px 5px; font-size:12px; color:#fff; line-height:1.2;background:#fa6362; border-radius:3px;}
.header .headTop .myInfo {-webkit-flex:2; flex:2; padding:5px 30px 0 0; text-align:right; font-size:13px; vertical-align:bottom;}
.header .headTop .myInfo .userName {display:inline-block; margin-right:10px;}
.header .headTop .myInfo .btnNormal {height:23px; line-height:23px; font-size:13px;}
.header .nav {margin-left:30px; padding:7px 0;}
.header .nav ul {display:flex; display:-webkit-flex; display:-ms-flexbox; align-items:stretch;}
.header .nav ul > li {justify-content:flex-end;}
.header .nav a {display:block; padding:10px 15px; font-size:17px; color:#fff;}
.header .nav .selected > a {color:#fff; background:#023969; border-radius:10px;}
.header .nav a:hover {color:#3C77EB;}

.container {-webkit-flex:1; -ms-flex:1; flex:1; display:-webkit-flex; display:-moz-flex; display:-ms-flex; display:flex; -webkit-flex-direction:row;  -ms-flex-direction:row; flex-direction:row;}
.snb {overflow:auto; -webkit-flex:1; -ms-flex:1; flex:1; border-right:1px solid #bbb;background:#f2f2f2;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 45%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 45%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */}
.snb h2 {height:100px; line-height:100px; font-size:24px; text-align:center; border-bottom:1px solid #cdcdcd;}
.snb a {display:block; position:relative; padding:10px 20px; font-size:15px;}
.snb .expandable > a:after,
.snb .collapsible > a:after {display:block; content:""; position:absolute; right:20px;
    border:solid transparent; border-width: 6px 4px;}
.snb .expandable > a:after {top:18px; border-top-color:#1e3c6e;}
.snb .collapsible > a:after {top:10px; border-bottom-color:#1e3c6e;}
.snb .expandable > ul {display:none;}
.snb .collapsible > ul {display:block;}
.snb .depth2 {}
.snb .depth2 > li {border-bottom:1px solid #cdcdcd;}
.snb .depth3 {border-top:1px solid #cdcdcd; background:#fff;}
.snb .depth3 > li {}
.snb .depth3 > li > a {padding-left:30px;}
.snb .depth2 > .selected > a {color:#555; font-weight:bold;}
.snb .depth3 .selected > a {color:#2781ff; background:#e4ebf7;}

.contents {overflow:auto; -webkit-flex:7; -moz-flex:7; -ms-flex:7; flex:7; padding:20px 30px 30px;}