@charset "UTF-8";

/* layout */
html, body, .wrap {height:100%;}
.wrap {min-width:1680px;}
.wrap {display: -webkit-flex; display:-moz-flex; display:-ms-flex; display:flex; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column;}
.header {display:flex; display:-webkit-flex; display:-ms-flexbox; flex-direction:column; /*height:70px;*/ background:#2a3954;}
.header .headTop {display:flex; display:-webkit-flex; padding:5px 0 3px; background:#fff;}
.header .headTop h1 {-webkit-flex:1 1 180px; -ms-flex:1 1 180px; flex:1 1 180px; padding:0 0 0 30px; font-size:17px; line-height:29px;}
.header .headTop h1 .txtWarn {font-style:italic;}
.header .headTop h1 a {display:inline-block; height:26px;}
.header .headTop h1 img {width:170px;}
.header .headTop .notice {-webkit-flex:6; flex:6; padding-left:60px; line-height:32px;}
.header .headTop .notice .badge {display:inline-block; margin:-2px 4px 0 0; padding:3px 5px; font-size:12px; color:#fff; line-height:1.2;background:#fa6362; border-radius:3px;}
.header .headTop .myInfo {-webkit-flex:2; flex:2; padding:3px 30px 0 0; text-align:right; font-size:13px; vertical-align:bottom;}
.header .headTop .myInfo .userName {display:inline-block; margin-right:10px;}
.header .headTop .myInfo .btnNormal {height:23px; line-height:23px; font-size:13px;}
.header .nav {position:relative; padding:7px 20px;}
/*.header .nav:after {display:none; content:""; position:absolute; top:58px; left:0; width:100%; height:420px; background:rgba(0,0,0,0.6);}
.header .nav:hover:after,
.header .nav:hover .depth2 {display:block;}*/
.header .nav > ul {display:flex; display:-webkit-flex; display:-ms-flexbox; align-items:stretch;}
.header .nav > ul > li {position:relative; flex-grow:1; max-width:180px; justify-content:space-between;}
.header .nav a {display:block; padding:8px 12px; font-size:15px; color:#c9c4c0; text-align:center;}
.header .nav .selected > a {color:#fff; background:#579ee5; border-radius:5px;}
.header .nav > ul > li:hover {background:#2b303a;}
.header .nav > ul > li:hover a {color:#fff;}
.header .nav > ul > li:hover .depth2 {height:410px; background:rgba(0,0,0,0.5);}
.header .nav .depth2 {display:none; z-index:5; position:absolute; top:51px; left:0; width:100%; padding:10px 0 0; font-size:14px;}
.header .nav .depth2 a {font-size:15px;}
.header .nav .depth2 a:hover {color:#3d81d6;}
.header .nav .depth3 li {padding-left:20px;}

.container {display:flex; flex:1; -webkit-flex-direction:row;  -ms-flex-direction:row; flex-direction:row;}
.snb {overflow:auto; flex:0 0 auto; width:180px; border-right:1px solid #bbb;}
.snb h2 {height:100px; line-height:100px; font-size:21px; text-align:center; border-bottom:1px solid #cdcdcd;}
.snb a {display:block; position:relative; padding:7px 15px; font-size:12px;}
.snb a:hover {color:#2b303a;}
.snb .collapsible > a {background:#fff;}
.snb .expandable > a:after,
.snb .collapsible > a:after {display:block; content:""; position:absolute; right:10px;
    border:solid transparent; border-width: 6px 4px;}
.snb .expandable > a:after {top:10px; border-top-color:#1e3c6e;}
.snb .collapsible > a:after {top:6px; border-bottom-color:#1e3c6e;}
.snb .expandable > ul {display:none;}
.snb .collapsible > ul {display:block;}
.snb .depth2 {}
.snb .depth2 > li {border-bottom:1px solid #cdcdcd;}
.snb .depth2 > li > a {font-weight:700;}
.snb .depth3 {padding:3px 0; border-top:1px solid #dedede; background:#f4f7f5;}
.snb .depth3 > li {}
.snb .depth3 > li > a {padding-left:20px;}
.snb .depth2 > .selected > a {color:#3d81d6; font-weight:bold; background:#fff;}
.snb .depth3 .selected > a {color:#fff; background:rgba(87, 158, 229, 0.7);}
.snb .icon {display:inline-block; margin:-2px 0 0 2px; padding:1px 3px; vertical-align:middle; font-size:0.8em; color:#fff; background:#53CE07; border-radius:25%;}

.contents {overflow:auto; flex:1 1 180px; padding:20px 30px 60px;}

.footer {height:30px; text-align:center; border-top:1px solid #dedede; background:#f2f2f2;}
.footer small {display:block; padding-top:10px; color:#888;}

.dimmed {z-index:490; position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5)}

/* margin */
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt20 {margin-top:20px !important;}

/* text */
.txtInfo {color:#80878d !important;}
.txtWarn {color:#ED3E49 !important;;}
.txtEm {color:#3d81d6 !important;;}
.txtEllipsis {display:block; overflow:hidden; text-overflow:ellipsis; width:100%; white-space:nowrap;}
.txtBig {font-size:1.2em;}
.txtSub {font-size:0.9em;}

/* 딱지 */
.stWarn, .stEm, .stNormal {display:inline-block; padding:2px 3px; font-size:0.8em; line-height:1; font-weight:700; color:#fff; border-radius:3px;}
.stWarn {background:#ED3E49;}
.stEm {background:#3d81d6;}
.stNormal {background:#9a9b9c;}

/* form */
.fText {display:inline-block; max-width:100%; height:24px; padding:0 5px; line-height:22px; border:1px solid #cacece; vertical-align:middle; box-sizing:border-box;}
.fText[readonly] {background:#f5f5f5;}
.fText.right {text-align:right;}
.fText.w100per,
.fTextarea.w100per,
.fChk.w100per,
.fRadio.w100per {width:100%;}
.fText.w90per,
.fTextarea.w90per,
.fChk.w90per,
.fRadio.w90per {width:90%;}
.fText.w85per,
.fTextarea.w85per {width:85%;}
.fText.w60,
.fTextarea.w60,
.fChk.w60,
.fRadio.w60 {width:60px;}
.fText.w80,
.fTextarea.w80,
.fChk.w80,
.fRadio.w80 {width:80px;}
.fText.w100,
.fTextarea.w100,
.fChk.w100,
.fRadio.w100 {width:100px;}
.fText.w120,
.fTextarea.w120,
.fChk.w120,
.fRadio.w120 {width:120px;}
.fText.w150,
.fTextarea.w150,
.fChk.w150,
.fRadio.w150 {width:150px;}
.fText.w200,
.fTextarea.w200,
.fChk.w200,
.fRadio.w200 {width:200px;}
.fText.w250,
.fTextarea.w250 {width:250px;}
.fText.w300,
.fTextarea.w300 {width:300px;}
.fText.w350,
.fTextarea.w350 {width:350px;}
.fText.w500,
.fTextarea.w500 {width:500px;}
.fSelect {display:inline-block; position:relative; height:22px;line-height:1; border:1px solid #cacece; vertical-align:middle;}
.fSelect.w100per {width:100%;}
.fSelect.w80 {width:80px;}
.fSelect.w100 {width:100px;}
.fSelect.w120 {width:120px;}
.fSelect.w150 {width:150px;}
.fSelect.w200 {width:200px;}
.fSelect.w250 {width:250px;}
.fSelect.w300 {width:300px;}
.fSelect select {width:100%; min-width:60px; height:100%; padding:0 18px 0 10px; border:0; box-sizing:border-box;}
.fSelect.dateButton select {padding-right:35px; -webkit-appearance:none; background:url("../images/common/ico_calendar.png") no-repeat 96% 2px;}
.fChk {position:relative; display:inline-block; line-height:20px; vertical-align:middle;}
.fChk + .fChk,
.fRadio + .fChk {margin-left:10px;}
.fChk input {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
.fChk input + label {display:inline-block;position:relative; line-height:20px; cursor:pointer; vertical-align:middle; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.fChk input + label:before {content:''; display:inline-block; width:14px; height:14px; line-height:14px; margin:-1px 4px 0 0; text-align:center;vertical-align:middle; border:1px solid #cacece; background:#fff; border-radius:3px;}
.fChk input + label:after {opacity:0; display:block; content:"";position:absolute; top:6px; left:2px; width:9px; height:4px; border:solid #73B2F0; border-width:0 0 3px 3px ; background:transparent;
    -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);}
.fChk input:checked + label:after {opacity:1;}
.fChk input:checked + label:before {border-color:#73B2F0;}
.fChk.hideTxt {display:inline-block; width:16px; height:16px; line-height:16px;}
.fChk.hideTxt label {overflow:hidden; position:absolute; top:0; left:0; width:16px; height:16px;/* color:transparent;*/ white-space:nowrap;}
.fChk.hideTxt label, .fChk.hideTxt input + label:before {margin-top:0; vertical-align:top;}
.fChk.hideTxt input + label:after {top:3px;}
.fRadio {display:inline-block; position:relative; line-height:20px; vertical-align:middle;}
.fRadio + .fRadio,
.fChk + .fRadio {margin-left:10px;}
.fRadio[class*="w"],
.fChk[class*="w"] {margin-top:5px; margin-left:0;}
.fRadio input {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
.fRadio input + label {display:inline-block;position:relative; line-height:20px; cursor:pointer; vertical-align:middle; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.fRadio input + label:before {content:''; display:inline-block; width:14px; height:14px; line-height:14px; margin:0 4px 0 0; text-align:center;vertical-align:middle; border:1px solid #cacece; background:#fff; border-radius:50%;}
.fRadio input + label:after {opacity:0; display:block; content:"";position:absolute; top:8px; left:4px; width:8px; height:8px; border-radius:50%; background:#73B2F0;}
.fRadio input:checked + label:after {opacity:1;}
.fRadio input:checked + label:before {border-color:#73B2F0;}
.fRadio.hideTxt {display:inline-block; width:16px; height:16px; line-height:16px;}
.fRadio.hideTxt label {overflow:hidden; position:absolute; top:0; left:0; width:16px; height:16px;/* color:transparent;*/ white-space:nowrap;}
.fRadio.hideTxt label:before, .fChk.hideTxt input + label:before {vertical-align:top;}
.fRadio.hideTxt input + label:after {top:4px;}
.fTextarea {padding:10px 12px; border:1px solid #cacece; border-radius:3px; box-sizing:border-box;}
.fTextarea textarea {width:100%; max-width:100%; height:100%; border:0;}
.fFile {display:inline-block;}
.fFile .name {display:inline-block; height:27px; padding:0 5px; line-height:27px; vertical-align:middle; border-color:#cacece; border-width:0 0 1px 0; box-sizing:border-box;}
.fFile .name.w300 {width:300px;}
.fFile input[type*="file"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.fFile.thumbnail {position:relative;}
.fFile.thumbnail .btnNormal {position:absolute; right:0; bottom:0;}
.fFile.thumbnail .thumb,
.fFile.thumbnail img {margin-right:10px;}
.fFile.thumbnail figcaption {padding:0;}
.addrWrap {display:inline-flex; flex-direction:row-reverse;}
.addrWrap .buttonArea {display:block;}
.addrWrap .buttonArea .btnSubmit {color:#575e70; border-color:rgba(0,0,0,0.3); background:#f3e9e8;}
.addrWrap .buttonArea .btnSubmit:hover {color:#000; border-color:rgba(0,0,0,0.6);}
.addrWrap .inputArea {margin-right:10px; width:500px;}
.addrWrap .fText {width:100%;}
.addrWrap .fText + .fText {margin-top:5px;}
.emailWrap {max-width:400px;}
.emailWrap:after {display:block; content:""; clear:both;}
.emailWrap .personal {float:left; width:46%;}
.emailWrap .fSelect {float:right; width:45%;}
.emailWrap .text {float:left; width:8%; text-align:center;}
.emailWrap .domain {width:100%; margin-top:7px;}
_:-ms-lang(x),
_:-webkit-full-screen,
select {
    display:block;
    overflow:hidden;
    padding:10px 0;
  background:red;
}
figure.thumb img {max-width:250px; max-height:300px;}

/* button */
.btnSubmit, .btnNormal, .btnStatic , .btnBasic, .btnRadio label, .btnDanger, .btnPositive, .btnSearch {display:inline-block; height:22px; padding:0 14px; line-height:22px; font-size:13px; border:1px solid; border-radius:3px; vertical-align:middle; background:#fff;}
.btnNormal {color:#575e70; border-color:rgba(0,0,0,0.4); background:#fff;}
.btnNormal:hover {color:#3d81d6; border-color:#3d81d6;}
.btnSubmit {color:#fff; border-color:#5a5a5e; background:#404f6a;}
.btnSubmit:hover {color:#fff; background:#000;}
.btnStatic {color:#fff; border-color:rgba(0,0,0,0.2); background:rgba(162, 169, 177, 0.9);}
.btnStatic:hover {color:#fff; border-color:rgba(0,0,0,0.5); background:rgba(162, 169, 177, 0.6);}
.btnBasic {color:#555; border-color:#cacece; background:#fafafa;}
.btnBasic:hover {color:#333; background:#f1f1f1;}
.btnDanger {color:#ED3E49; border-color:#ED3E49; background:#fff;}
.btnDanger:hover {color:#ED3E49; background:rgba(237, 62, 73, 0.03);}
.btnPositive {color:#3d81d6; border-color:#3d81d6;  background:#fff;}
.btnPositive:hover {color:#3d81d6; background:rgba(61, 129, 214, 0.03);}
.btnSearch {color:#fff; border-color:rgba(0,0,0,0.25);  background:#777a9b;}
.btnSearch:hover {background:#6f7292;}
.btnNormal .icoDel {display:inline-block; margin:-4px 4px 0 0; color:#fa6362; font-weight:bold;}
.btnSubmit .icoAdd {margin-right:4px; color:#fa6362; font-weight:bold;}
.btnSubmit[class*="ico"]:before, .btnNormal[class*="ico"]:before, .btnBasic[class*="ico"]:before {display:inline-block; content:""; margin:-2px 7px 0 0; vertical-align:middle; background:url("../images/common/sp_icon.png") no-repeat;}
.btnRadio {display:inline-block;}
.btnRadio input {overflow:hidden; position:absolute; clip:rect(0 0 0 0); margin:-1px; width:1px; height:1px; color:transparent;}
.btnRadio input + label {color:#555; border-color:rgba(0,0,0,0.4); background:#fff;}
.btnRadio input:checked + label {color:#fff; border-color:rgba(0,0,0,0.25); background:#948fad;}
[class*="btn"].icoExcel:before {width:16px; height:16px; background-position:-50px 0;}
[class*="btn"] + [class*="btn"] {margin-left:6px;}
/*
.tableLayout.list tr:hover .btnNormal,
.tableLayout.hover tr:hover .btnNormal {color:#575e70;}
.tableLayout.list tr:hover .btnSubmit,
.tableLayout.hover tr:hover .btnSubmit {color:#fff;}
.tableLayout.list tr:hover .btnStatic,
.tableLayout.hover tr:hover .btnStatic {color:#fff;}
.tableLayout.list tr:hover .btnBasic,
.tableLayout.hover tr:hover .btnBasic {color:#555;}
.tableLayout.list tr:hover .btnDanger,
.tableLayout.hover tr:hover .btnDanger {color:#ED3E49;}
.tableLayout.list tr:hover .btnPositive,
.tableLayout.hover tr:hover .btnPositive {color:#3d81d6;}
.tableLayout.list tr:hover .btnSearch,
.tableLayout.hover tr:hover .btnSearch {color:#fff;}*/

/* btnArea */
.btnArea {position:relative; min-height:37px; margin-top:30px; text-align:center;}
.btnArea a[class*="btn"] {height:35px; padding:0 20px; line-height:35px; font-size:16px;}
.btnArea a + a {margin-left:8px;}
.btnArea .left {position:absolute; left:0; bottom:0;}
.btnArea.right {text-align:right;}

/* login */
.wrap.login {}
.wrap.login .container {-webkit-align-items:center; -webkit-box-align:center; align-items:center;}
.wrap.login .header {display:block; padding:0 10px;}
.wrap.login .header h1 {padding:3px 5px 5px;}
.wrap.login .header h1 img {vertical-align:middle;}
.loginArea {width:300px; margin:0 auto; padding:40px 30px 60px; border:1px solid #ccc;}
.loginArea h2 {margin-bottom:20px; font-size:26px;}
.loginArea li {margin-bottom:10px;}
.loginArea li .fText {height:45px; border-color:#cacece;}
.loginArea .remember {height:20px; margin-bottom:25px; line-height:20px;}
.loginArea .remember + .txtWarn {margin:-10px 0 10px;}
.loginArea .btnLogin {display:inline-block; width:100%; height:45px; padding:0 17px; line-height:45px; font-size:18px; color:#fff; text-align:center; border:1px solid; border-radius:3px; background:#5486ee; box-sizing:border-box;}
.loginArea .btnLogin:hover {color:#fff; background:#3C77EB;}

/* section */
.section + .section {margin-top:30px;}
.breadcrumb + .section > .titleArea:first-child,
.breadcrumb + .titleArea {margin-top:0;}

/* breadcrumb */
.breadcrumb {text-align:right; font-size:12px; color:#5a5a5e;}
.breadcrumb ol {display:flex; display:-webkit-flex; display:-ms-flexbox; justify-content: flex-end;}
.breadcrumb li:before {display:inline-block; content:""; margin:-2px 3px 0 9px; border:solid transparent; border-width:3px 4px; border-left-color:#333; vertical-align:middle;}
.breadcrumb li:first-of-type:before {display:none;}

/* titleArea */
.titleArea {margin-top:25px;}
.titleArea:after {display:block; content:""; clear:both;}
.section + .section.titleArea {padding-top:20px;}
/*.section .titleArea:first-child {margin-top:0;}*/
.titleArea h3 {display:inline-block; font-size:18px;}
.titleArea h4 {display:inline-block; font-size:16px; line-height:1.4;}
.titleArea h4:before {display:inline-block; content:""; width:3px; height:3px; margin:-2px 5px 0 0; vertical-align:middle; background:#333;}
.titleArea h3 + h4 {margin-top:10px;}
.titleArea .txtInfo {margin-top:6px; color:#999;}
.titleArea .desc {color:#666;}
.titleArea p.desc {color:#666;}
.titleArea span.desc {margin-left:10px;}
.titleArea h4 + .desc {margin-left:10px;}
.titleArea .left {float:left;}
.titleArea .sub,
.titleArea .right {float:right;}
.titleArea .left,
.titleArea .sub,
.titleArea .right {margin-top:0;}
.titleArea .tab {height:31px; margin-left:40px; background:none;}
.titleArea .tab ul,
.titleArea .tab ul li {height:30px; margin-left:0; font-size:15px; border-color:#fff;}
.titleArea .tab ul li.selected {border-color:#333; font-weight:700;}
.titleArea .tab ul li a {padding:6px 30px; color:#5a5a5e;}
.titleArea .tab ul li.selected a {top:0; padding:5px 30px 7px 30px; color:#3d81d6;}
.titleArea.mt10,
.flowArea .titleArea.mt10,
.tab + .titleArea,
.flowArea .tab + .titleArea {margin-top:10px;}
.flowArea .tableLayout {margin-top:5px;}

/* tooltip */
.tooltip {position:relative; display:inline-block; vertical-align:middle;}
.tooltip .trigger {display:inline-block; width:18px; height:18px; line-height:18px; font-size:12px; vertical-align:middle; color:#555; cursor:pointer; background:#ccc; border-radius:50%;}
.tooltip .content {display:none; position:absolute; top:-10px; left:30px; min-width:200px; padding:12px; text-align:left; border:1px solid #000; background:#fff; border-radius:5px; box-shadow:1px 1px 7px 1px rgba(0,0,0,0.4)}
.tooltip .content:before {position:absolute; top:10px; left:-7px; content:''; height:0; width:0; display:block; border:7px transparent solid; border-left-width:0; border-right-color:#000;}
.tooltip .content:after {position:absolute; top:11px; left:-6px; content:''; height:0; width:0; display:block; border:6px transparent solid; border-left-width:0; border-right-color:#fff;}
.tooltip:hover .content {display:block;}

/* tableLayout */
.tableLayout {margin-top:10px;}
.tableLayout.mt0 {margin-top:-1px;}
.tableLayout table {border:1px solid #d0d0d0;}
.tableLayout table.mt0 {margin-top:-1px;}
.tableLayout th {font-weight:normal; background:#f5f4f4;}
.tableLayout tbody th {text-align:left;}
.tableLayout th, .tableLayout td {padding:7px 10px; border-top:1px solid #d9dadc; border-left:1px solid #d0d0d0;}
.tableLayout .bl0 {border-left-width:0;}
.tableLayout th:first-child, .tableLayout td:first-child {border-left:0;}
.tableLayout colgroup + tbody tr:first-child th, .tableLayout colgroup + tbody tr:first-child td {border-top-color:#d0d0d0;}
.tableLayout .top {vertical-align:top;}
.tableLayout thead th {border-top-width:0; color:#80878d; font-weight:normal;}
.tableLayout thead tr + tr th {border-top-width:1px;}
.tableLayout thead .heading th {color:#333; border-bottom:1px solid #d0d0d0; background:#f2f6fa;}
.tableLayout .center {text-align:center;}
.tableLayout .left {text-align:left;}
.tableLayout .right {text-align:right;}
.tableLayout .price {font-size:16px; text-align:right;}
.tableLayout .price strong {}
.tableLayout .editor {padding:0;}
.tableLayout .editor .note-editor.note-frame {border-width:0;}
.tableLayout tfoot th {color:#80878d; font-weight:400;}
.tableLayout tfoot th,
.tableLayout tfoot td {font-size:1.25em;}
.tableLayout tfoot td {font-weight:700;}
.tableLayout tr.warn {background-color:#f7dddd;}
.tableLayout tr.positive {background-color:#fffceb;}
.tableLayout.hover tr:hover {background-color:#e6f1fe;}
.tableLayout.hover tr:hover td.nodata {background-color:#fff;}
.tableLayout [class*="btn"] {font-size:12px;}
.tableLayout .nodata td,
.tableLayout td.nodata {height:200px; text-align:center;}
.tableLayout .nodata tr:hover td {background:#fff;}
.tableLayout.trHover tbody tr:hover {background:#E6F1FE;}
.tableLayout tbody tr .txtLink {text-decoration:underline;}
.tableLayout tbody tr:hover .txtLink {color:#3C77EB; text-decoration:underline;}
.tableLayout.list, .tableLayout.list input, .tableLayout.list select, .tableLayout.list textarea, .tableLayout.list [class*="btn"] {font-size:12px;}
.tableLayout.list .fText {height:23px; line-height:21px;}
.tableLayout.list .fSelect {height:21px;}
.tableLayout.list [class*="btn"] {height:21px; padding:0 10px; line-height:21px;}
.tableLayout.list th, .tableLayout.list td {padding:4px;}
.tableLayout.list .right td,
.tableLayout.list td.right {padding-right:8px;}
.tableLayout .thumb figcaption {margin-top:10px;}

.tableLayout.typeTab a {display:block;}
.tableLayout.typeTab td.selected {padding:0; background:#99abb5;}
.tableLayout.typeTab td.selected a {color:#fff; font-weight:700;}

/* tableScroll */
.tableScroll {margin-top:10px; border:1px solid #d0d0d0;}
.tableScroll .tableLayout.head {margin-top:0;}
.tableScroll .tableLayout.head td {text-align:center; background:#f3f3f5;}
.tableScroll .tableLayout.head .heading td {font-weight:bold; text-align:left; border-bottom:1px solid #d0d0d0; border-top:0; background:#f2f6fa;}
.tableScroll .tableLayout.body {overflow-y:scroll; margin-top:-1px; border-top:1px solid #d0d0d0;}
.tableScroll .tableLayout.head table,
.tableScroll .tableLayout.body table {border-width:0;}
.tableScroll .tableLayout.body td {border-top-color:#d0d0d0;}
.tableScroll .tableLayout.body tr:first-of-type td {border-top-width:0;}

.tableLayout .sort {}
.tableLayout .sort {vertical-align:middle;}
.tableLayout .sort:before,
.tableLayout .sort:after {display:block; font-size:5px; line-height:1; color:#babdbe;}
.tableLayout .sort:before {content:"▲";}
.tableLayout .sort:after {content:"▼"; margin-top:-2px;}
.tableLayout .sort.up:before,
.tableLayout .sort.down:after {color:#579ee5;}

/* setArea */
.setArea {width:100%; margin-top:20px; padding:7px 20px; border:solid #d0d0d0; border-width:1px 1px 0 1px; background:#dfe3e6; box-sizing:border-box;}
.setArea:after {display:block; content:""; clear:both;}
.setArea.center {position:relative; text-align:center; min-height:42px;}
.setArea.center .right {position:absolute; top:7px; right:20px; float:none;}
.setArea .left {float:left;}
.setArea .right {float:right;}
.setArea + .tableLayout {margin-top:0;}
.setArea a[class*="btn"] {height:22px; line-height:22px; font-size:14px;}
.setArea .fChk + a[class*="btn"] {margin-left:10px;}
.setArea .fChk {line-height:27px;}
.setArea .btnNormal {background:#fff;}
.setArea .text + a[class*="btn"] {margin-left:6px;}
.setArea.gFooter {margin-top:0; border-width:0 1px 1px 1px; text-align:center;}

/* banner */
.notiPop {display:inline-block; width:450px; margin:15px 10px 0 0; padding:10px 20px; border:1px solid rgba(0,0,0,0.3); background:#f3e9e8;}
.notiPop:after {display:block; content:""; clear:both;}
.notiPop .left {float:left;}
.notiPop .right {float:right;}
.notiPop .title {font-size:15px;}
.notiPop .date {margin-top:5px; color:#777;}

/* attachFile */
.attachFile {}
.attachFile dt,
.attachFile dd {float:left; margin:0;}
.attachFile dt {width:30%;}
.attachFile dd {width:70%;}
.attachFile li {line-height:1.8;}
.tableLayout tbody tr:hover .attachFile .txtLink {color:inherit;}
.tableLayout tbody tr .attachFile .txtLink:hover {color:#3d81d6;}

/* searchArea */
.searchArea {margin:15px 0 0; padding:10px 20px; border:1px solid #ccc; background:#fafafa;}
.searchArea:after {display:block; content:""; clear:both;}
.searchArea .pickDate {margin:0;}
.searchArea .text {margin:0 10px 0 0;}
.searchArea .left {float:left;}
.searchArea .right {float:right;}
.searchArea .button {margin:0 0 0 15px;}
.searchArea .btnSubmit {height:30px; line-height:28px; font-size:14px;}

/* tab */
.tab {margin-top:15px; height:37px; border-bottom:1px solid #333; background:#f2f6fa;}
.tab ul {display:flex; border:solid #dadcdd; border-width:1px 1px 0 0;}
.tab li {position:relative; top:-1px; height:37px; margin-left:-1px; text-align:center; border:solid #dadcdd; border-width:1px 1px 0 1px;}
.tab li:first-child {border-left-width:1px;}
.tab li a {display:block; padding:10px 30px;}
.tab li.selected {z-index:10; border-color:#333; border-left-width:1px; background:#fff;}
.tab li.selected a {position:relative; top:1px; padding:9px 30px 11px; background:#fff;}
.tab.flex ul {border-right:0;}
.tab.flex li {flex-grow:1;}
.tab.flex li a {padding-left:0; padding-right:0;}

.tab.mt0 {margin-top:0;}

.tab.sub {display:inline-block; height:27px; border-color:#d0d0d0; background:none;}
.tab.sub ul,
.tab.sub ul li {height:30px; border-width:0;}
.tab.sub ul li.selected {border-width:0; font-weight:700;}
.tab.sub ul li a {padding:5px 30px; color:#5a5a5e;}
.tab.sub ul li.selected a {padding:4px 30px 7px 30px; color:#3d81d6;}
.tab.sub ul li a {padding:5px 30px; color:#5a5a5e;}
.tab.sub ul li.selected a {padding:4px 30px 7px 30px; color:#3d81d6; border-bottom:3px solid #3d81d6;}

.tab.inTab {margin-top:15px; height:30px; border-color:#4a4a4a; background:#f8f8f8;}
.tab.inTab ul {}
.tab.inTab li {height:29px;}
.tab.inTab li a {padding:7px 30px;}
.tab.inTab li.selected {border-color:#4a4a4a;}
.tab.inTab li.selected a {padding:6px 30px 9px;}

/* txtNoti */
.txtNoti {margin-top:10px; text-align:right;}
.txtNoti + .tableLayout {margin-top:5px;}

/* boardArea */
.boardArea .titleInput {display:flex;margin-top:40px; font-size:14px;}
.boardArea .titleInput dt {flex:0 0 auto; width:140px; padding-left:10px; font-size:14px;}
.boardArea.detail .titleInput dt {color:#7a7a7a;}
.boardArea .titleInput dd {position:relative; flex:1 1 140px; padding-left:10px;}
.boardArea.detail .titleInput dd {padding-right:0;}
.boardArea .titleInput dd .fText {border-width:0 0 1px 0; border-color:#e2e2e2;}
.boardArea .titleInput dd .count {position:absolute; bottom:0; right:10px;}
.boardArea .viewer {margin-top:20px; padding:50px 35px 50px 50px; border:solid #dedede; border-width:1px 0;}
.boardArea .subject {font-size:18px;}
.boardArea.detail .forEdit {display:none;}
.boardArea.detail .forView {display:block;}
.boardArea.edit .forView {display:none;}
.boardArea.edit .forEdit {display:block;}

/* detailArea */
.detailArea {margin-top:20px;}
.detailArea li {margin-top:7px; padding:3px 0; min-height:28px; background:#f8f8f8;}
.detailArea li .fChk {line-height:28px;}
.detailArea li strong {font-weight:normal;}
.detailArea li dl {display:flex;}
.detailArea li dl dt {flex:0 0 auto; width:140px; padding:0 0 0 10px; line-height:27px; color:#7a7a7a;}
.detailArea li dl dd {flex:0 0 450px; line-height:27px;}
.detailArea li dl dd:only-of-type {flex:1 1 auto;}
.detailArea li.block dl dt {flex:0 0 auto; width:140px;}
.detailArea li.block dl dd {flex:1 1 auto;}
.pickDate:first-child {margin-left:0;}
.fRadio + .pickDate,
.fChk + .pickDate { margin-left:40px;}
.pickDate {display:inline-block; vertical-align:middle;}
.pickDate .endDay {margin-left:20px;}
.pickDate .fText {margin-left:10px; cursor:pointer; background:#fff url("../images/common/ico_calendar.png") no-repeat 96% 2px;}
.pickDate .fText:first-child {margin-left:0; margin-right:10px;}

/* optionArea */
.optionArea {margin:5px 0 0;}

/* editor */
.editor {margin-top:20px;}
.boardArea .note-editor.note-frame {border-width:0;}
.boardArea.edit .note-editor.note-frame {margin-top:28px;}

/* paginate */
.paginate {display:flex; text-align:center; -webkit-align-items:center; align-items: center; -webkit-justify-content:center; justify-content:center; margin-top:20px;}
.paginate > a {margin-left:5px;}
.paginate > a.first {margin-left:0;}
.paginate a {display:inline-block; min-width:32px; padding:5px 5px; border:1px solid #d0d0d0; background:#fff; border-radius:4px; box-sizing:border-box;}
.paginate a:hover {color:#000; border-color:#5a5a5e;}
.paginate ol {display:flex;}
.paginate li {display:flex; margin-left:5px;}
.paginate li.current a {color:#fff; border-color:#5a5a5e; background:#404f6a;}
.paginate + .fSelect {margin-left:20px;}

/* mBox */
.mBox {margin:20px 0 0; display:flex; align-items:center; justify-content: center;}
.mBox.blockInline > div,
.mBox.blockInline > .fSelect {vertical-align:middle;}
.mBox.blockInline > .paginate {margin:0;}
.mBox.LR {display:block; margin:0;}
.mBox.LR:after {display:block; content:""; clear:both;}
.mBox.LR .left {float:left;}
.mBox.LR .right {float:right;}

/* menuList */
.menuList {}
.menuList .allCheck {padding:10px 15px;}
.menuList li {line-height:25px;}
.menuList .depth1,
.menuList > ul  {display:grid; grid-template-columns:repeat(4, 1fr); grid-auto-rows:1fr; grid-column-gap:10px; grid-row-gap:10px;}
.menuList .depth1 > li,
.menuList > ul > li {padding:15px; /*margin:0 10px 10px 0;*/ border:1px solid #cacece;/* border-top:1px solid #cacece;*/}
.menuList .depth2 {}
.menuList .depth2 > li,
.menuList .depth3 > li {padding-left:20px;}
.menuList li.not .fChk {color:#aeaaa9;}
.menuList .check {display:inline-block;position:relative; line-height:16px;}
.menuList .check:before {content:''; display:inline-block; width:14px; height:14px; line-height:14px; margin: -2px 8px 0 0; text-align:center;vertical-align:middle; border:1px solid #cacece; border-radius:3px; cursor:text;}
.menuList .check:after {opacity:0; display:block; content:"";position:absolute;top:2px; left:2px; width:9px; height:5px; border:solid #73B2F0; border-width:0 0 3px 3px ; background:transparent; cursor:text;
    -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);}
.menuList .check.checked:after {opacity:1;}
.menuList .check.checked:before {border-color:#73B2F0;}
.layer.mandate .menuList .depth1 {grid-template-columns:repeat(4, 1fr);}

/* 메뉴관리 */
.menuSetArea {display:flex; display:-webkit-flex; margin-top:20px;}
.menuSetArea .treeArea {flex:3; min-width:280px;}
.menuSetArea .infoSetArea {flex:5; margin-left:20px;}
.menuSetArea .treeArea {}
.menuSetArea .treeArea .titleArea {margin-bottom:20px;}
.menuSetArea .treeArea .menuTree  {border:1px solid #bcbfc4}
.menuSetArea .treeArea .menuTree li {line-height:2;}

.menuSetArea .menuList > ul {grid-template-columns:repeat(3, 1fr); grid-auto-rows:0fr; grid-column-gap:10px; grid-row-gap:30px;}
.menuSetArea .menuList > ul > li {margin-top:0;background:#f7f8f9;}
.menuSetArea .menuList > ul > li:hover {border-color:#a2a7ae; background:#fff;}
.menuSetArea .menuList li {margin-top:6px;}
.menuSetArea .menuList .menu {display:flex; border:1px solid #cacece; background:#fff;}
.menuSetArea .menuList li.not > .menu,
.menuSetArea .menuList li.not > .menu:hover {color:#aeaaa9; background:#ededef;}
.menuSetArea .menuList .menu:hover {background:rgba(228, 232, 238, 0.5);}
.menuSetArea .menuList .menu .btnEdit,
.menuSetArea .menuList .menu .btnAdd {height:100%; margin-left:-1px; line-height:31px; border:solid #cacece; border-width:0 0 0 1px; background:#e4e8ee;}
.menuSetArea .menuList .menu .btnEdit:hover,
.menuSetArea .menuList .menu .btnAdd:hover {color:#fff; background:#404f6a;}
.menuSetArea .menuList .menu .name {flex:1 1 auto; padding:3px 0 3px 10px;}
.menuSetArea .menuList .menu .btnEdit {flex:0 0 50px; width:50px;}
.menuSetArea .menuList .menu .btnAdd {flex:0 0 30px; width:30px; font-size:16px; font-weight:bold;}
.menuSetArea .menuList .depth2,
.menuSetArea .menuList .depth3 {position:relative;}
.menuSetArea .menuList .depth2:before,
.menuSetArea .menuList .depth3:before {display:block; content:""; position:absolute; top:5px; left:4px; width:5px; height:8px; border:solid #f5f6f8; border-width:0 0 2px 2px;}
.menuSetArea .menuList .depth2 > li,
.menuSetArea .menuList .depth3 > li {padding-left:15px;}

.menuTree {overflow:auto; max-height:580px; padding:10px 15px;}
.menuTree {}
.menuTree li {position:relative; margin:5px 0 0; cursor:pointer;}
.menuTree .menu {position:relative; display:inline-block; width:100%; padding:0 60px 0 0; font-weight:bold; border:1px solid transparent; background:#ededed; border-radius:3px; box-sizing:border-box;}
.menuTree .menu span {position:relative; display:block; padding:7px 15px 7px 15px;}
.menuTree .menu:hover {color:#000; border:1px solid #666;}
.menuTree .btnEdit {display:inline-block; position:absolute; top:0; right:0; width:60px; height:42px; padding:7px 0; font-size:14px; color:#3c4c4f; text-align:center; border-left:1px solid #fff;}
.menuTree .btnEdit:hover {color:#3C77EB;}
.menuTree li.expandable > ul {display:none;}
.menuTree li.collapsible > ul {display:block;}
.menuTree li .menu:after {display:block; content:""; position:absolute; top:50%; right:80px;border:solid transparent; border-width:5px 4px;}
.menuTree li.expandable > .menu:after {margin:-2px 0 0; border-top-color:#333;}
.menuTree li.collapsible > .menu:after {margin:-7px 0 0; border-bottom-color:#333;}
.menuTree .depth2,
.menuTree .depth3 {padding:0 0 0 25px;}

/* 사유입력 */
.reasonList {}
.reasonList li.fRadio {display:block; margin:10px 0 0;}
.reasonList .fChk label:before {width:20px; height:20px; background-position:-50px -25px;}
.reasonList .fChk.checked label:before {background-position:-75px -25px;}
.reasonList li:first-child {margin-top:0;}
.reasonList .fTextarea {display:block; margin:6px 0 0 26px;}
.reasonList .fTextarea textarea {width:100%; height:38px;}

/* flowArea */
.flowArea {display:flex; margin:10px 0 0;}
.flowArea > div {flex:1 1 200px;}
.flowArea .col2 {flex:2 1 200px;}
.flowArea .col3 {flex:3 1 200px;}
.flowArea .fix {flex:0 0 auto;}
.flowArea .flex {flex:1 1 auto;}
.flowArea .gFlow {margin-right:10px;}
.flowArea .gReverse {margin-left:10px;}
.flowArea .titleArea:first-of-type {margin:0;}
.flowArea .titleArea {min-height:27px;}
.flowArea .titleArea h4 {line-height:27px;}
.flowArea.compare .setArea {height:33px; margin:10px 0 0;}
.flowArea.compare .gReverse .fFile .name {text-align:right;}
.flowArea.compare .tableLayout {overflow-y:auto; width:100%; height:500px; margin:0; border:1px solid #acacac;box-sizing:border-box;}
.flowArea.compare .tableLayout table {border-width:0;}
.flowArea.compare .tableLayout table tr:last-child td {border-bottom:1px solid #d0d0d0;}
.flowArea.compare .tableLayout .nodata td {height:450px; border-bottom-width:0 !important;}

/*VOC*/
.flowArea.voc {margin-top:30px;}
.flowArea.voc .titleArea {padding:7px 10px; background:#f2f6fa;}
.flowArea.voc .viewer,
.flowArea.voc .editor {margin-top:0; min-height:300px; box-sizing:border-box;}
.flowArea.voc .editor {border-top:1px solid #dedede;}
.flowArea.voc .editor .note-editable {height:230px; min-height:0 !important; max-height:none !important;}

/* dlTypeList */
.dlTypeList {}
.dlTypeList li {margin-top:8px;}
.dlTypeList li:first-child {margin-top:0;}
.dlTypeList li .title {display:inline-block;}
.dlTypeList.w60 li .title {width:60px;}
.dlTypeList.w140 li .title {width:140px;}
.dlTypeList li .price {display:inline-block; width:150px; font-size:1em; text-align:right;}

/* imgLinkList */
.imgLinkList {}
.imgLinkList:after {display:block; content:""; clear:both;}
.imgLinkList li {float:left; width:48%; margin:5px 2% 0 0; border:1px solid #e8e8e8; box-sizing:border-box;}
.imgLinkList li:nth-child(even) {margin-right:0;}
.imgLinkList li:hover {background:#f4f4f4;}
.imgLinkList li:hover a {color:#1a1a1a;}
.imgLinkList li a {display:block; width:100%; padding:7px 10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#6a6a6a; box-sizing:border-box;}
.imgLinkList li.empty {background:#f4f4f4;}
.imgLinkList li.empty a:first-of-type {color:#a8a8a8; cursor:default}
.imgLinkList.col4 li {width:23%;}
.imgLinkList.col3 li {width:32%;}
.imgLinkList.col3 li:nth-child(even),
.imgLinkList.col4 li:nth-child(even) {margin-right:2%;}
.imgLinkList.col3 li:nth-child(3n),
.imgLinkList.col4 li:nth-child(4n) {margin-right:0;}

.imgLinkList.tButton li {position:relative; padding-right:70px;}
.imgLinkList.tButton li a[class*=btn] {position:absolute; top:4px; right:5px; width:auto; padding:0 14px;}
.imgLinkList.tButton li a.btnStatic {color:#fff;}

/* popup */
.popWrap {}
.popWrap .header {height:50px; padding:0 30px; line-height:50px; border-bottom:1px solid #d4d4d4; background:#f8f8f8;}
.popWrap .header h1 {font-size:20px;}
.popWrap .section:first-of-type .titleArea {margin-top:0;}
.popWrap .titleArea h2 {font-size:18px;}
.popWrap .titleArea h3 {font-size:16px; line-height:1.4;}
.popWrap .titleArea h3:before {display:inline-block; content:""; width:3px; height:3px; margin:-2px 5px 0 0; vertical-align:middle; background:#333;}
.popWrap .titleArea h2 + h3 {margin-top:10px;}

/* layer */
.layer {display:none; z-index:500; position:absolute; top:300px; left:200px; padding-bottom:49px; border:1px solid #ccc; background:#fff; -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.54);
box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.54);}
.layer.modal {top:50%; left:50%; transform:translate(-50%, -50%);  -webkit-transform:translate(-50%, -50%)}
.layer h2 {height:40px; padding:0 20px; font-size:16px; line-height:40px; border-bottom:1px solid #ccc;}
.layer .content {overflow:auto; padding:20px;}
.layer h3 {}
.layer .description {margin:15px 0 20px;}
.layer footer {position:absolute; left:0; right:0; bottom:0; width:100%; padding:10px 0; text-align:center; border-top:1px solid #dedede; background:#fafafa;}
.layer footer a[class*="btn"] {height:26px; line-height:26px;}
.layer footer a[class*="btn"] +  a[class*="btn"] {margin:0 0 0 6px;}
.layer footer .btnBasic {background:#fff;}
.layer .btnClose {position:absolute; top:10px; right:20px; display:inline-block; width:20px; height:20px; color:transparent;}
.layer .btnClose:after {display:block; content:""; position:absolute; top:0; left:9px; padding:0; width:2px; height:20px; background:#5a5a5e; border-radius:1px; transform:rotate(45deg);}
.layer .btnClose:before { display:block; content:""; position:absolute; top:11px; left:0; width:20px; height:2px; margin-top:-2px; background:#5a5a5e; border-radius:1px; transform:rotate(45deg);}
.layer .gLine {margin:15px 0 0; padding:15px 0 0; border-top:1px solid #a2a7ae;}
.layer .chkList li {line-height:2;}

/* 권한 상세 보기 레이어 */
.layer.mandate  {width:850px;}
.layer.mandate .content {max-height:470px;}
/* 운송료 지급 보류 */
.layer.payHold {}
.layer.payHold .reasonList {margin:10px 0 0;}

/* 정산내역서 */
.popSettlement {padding:20px 20px 30px; background:#f5f6f7;}
.popSettlement .popWrap {position:relative; width:984px; margin:0 auto; padding:40px 40px 70px; font-weight:700; background:#fff; box-sizing:border-box;}
.popSettlement .headArea {margin:0 0 30px; padding:25px 0 0; text-align:center;}
.popSettlement .headArea h1 {position:relative; display:inline-block; font-size:30px; text-align:center; color:#222;}
.popSettlement .date {margin-bottom:20px; text-align:left;}
.popSettlement .headArea h1:after,
.popSettlement .txtUnder:after {display:inline-block; content:""; position:absolute; bottom:0; left:0; width:100%; height:1px; background:#252525;}
.popSettlement .txtUnder {position:relative;}
.popSettlement .info {overflow:hidden; line-height:1.57; font-weight:normal; box-sizing:border-box;}
.popSettlement .box {margin-top:30px; padding:30px; border:1px solid #666;}
.popSettlement .box > ol > li {margin-top:20px; font-size:15px; line-height:1.57;}
.popSettlement .box > ol > li:first-of-type {margin-top:0;}
.popSettlement .section + .section,
.popSettlement .section.approvalReady {margin:30px 0 0;}
.popSettlement h2 {font-size:18px;}
.popSettlement .tableLayout {margin:10px 0 0; border:0; border-radius:0;}
.popSettlement .tableLayout table{border:solid #333; border-width:1px 1px 1px 0;}
.popSettlement .tableLayout th,
.popSettlement .tableLayout td {padding:9px 14px; font-size:15px; text-align:left; border:solid #333; border-width:1px 0 0 1px;}
.popSettlement .document {padding-left:10px;}
.popSettlement .detail {padding-top:40px;}
.popSettlement .detail .total {overflow:hidden; padding:30px 0 0;}
.popSettlement .detail .total h2,
.popSettlement .detail .total .price {float:left; line-height:23px;}
.popSettlement .detail .total .price {margin-left:30px;}
.popSettlement .detail .tableLayout thead th {padding:7px 5px;}
.popSettlement .detail .tableLayout th,
.popSettlement .detail .tableLayout td {padding:7px 10px; font-size:12px;}
.popSettlement .detail .tableLayout .center td {text-align:center;}
.popSettlement .detail .tableLayout td.right {text-align:right;}
.popSettlement .tableLayout th {color:#333; background:#e4e8ee; border-radius:0;}
.popSettlement .tableLayout thead th {text-align:center;}
.popSettlement .tableLayout td {font-weight:normal; border-color:#333; border-radius:0;}/*
.tableLayout colgroup + tbody tr:first-child th, .tableLayout colgroup + tbody tr:first-child td {border-top-color:#333;}*/
/*.popSettlement .tableLayout tr:first-of-type th,
.popSettlement .tableLayout tr:first-of-type td {border-top-width:0;}*/
.popSettlement .tableLayout thead + tbody tr:first-of-type th,
.popSettlement .tableLayout thead + tbody tr:first-of-type td {border-top-width:1px;}
/*.popSettlement .tableLayout th:first-of-type,
.popSettlement .tableLayout td:first-child {border-left-width:0;}*/
.popSettlement .tableLayout .price {font-weight:700;}
.popSettlement .tableLayout .center,
.popSettlement .tableLayout .center td {text-align:center;}
.popSettlement .sectionWrap {overflow:hidden;}
.popSettlement .sectionWrap .section {float:left; width:50%; margin:0;}
.popSettlement .btnArea {position:relative; margin:10px auto 0; padding:20px 0 0;}
.popSettlement .btnArea .btnBasic {position:absolute; top:0; right:0;}
.popSettlement .info.print {display:none;}
.popSettlement .tight {letter-spacing:-1px;}
.popSettlement .break {page-break-after:always; page-break-inside:avoid;}
.popSettlement.print .detail thead {display: table-header-group;}
.popSettlement.print .detail thead th {border-top:1px solid #333 !important;}
.popSettlement.print .detail tr {page-break-inside: avoid; page-break-after:auto}



/* print */
@media print {
    .wrap .container {margin:0;}
    .gnb,
    .btnArea {display:none;}
    a[href]:after { content: none !important; }
    img[src]:after { content: none !important; }
    
    .popSettlement .popWrap,
    .popSettlement .popWrap .headArea {padding-top:0;}
    .popSettlement .detail thead {margin-top:100px; display: table-header-group;}
    .popSettlement .detail thead th {border-top:1px solid #333 !important;}
    .popSettlement .detail tr {page-break-inside: avoid; page-break-after:auto}
  
}



















