@charset "UTF-8";

@import "mixin";

// ======================== layout =======================
html, body, .wrap {height:100%;}
.wrap {
    min-width:1263px;
    padding-top:82px;
    font-family:$font-noto;
    box-sizing:border-box;
}
.header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    background:$blue_001;
    .headTop {
        @include afterClear();
        height:24px;
        padding:5px 30px 3px;
        background:$white;
        h1 {
            font-size:18px;
        }
        h1, .notice {
            float:left;
        }
        .myInfo {
            float:right;
            .userName {
                margin-right:10px;
            }
        }
    }
    .nav {
        overflow:hidden;
        position:relative;
        height:50px;
        padding:7px 20px;
        box-sizing:border-box;
        -webkit-transition:overflow 1s;
        transition:overflow 1s;
        &:after {
            display:block;
            content:"";
            position:absolute;
            top:50px;
            left:0;
            right:0;
            width:100%;
            height:0;
            border-top:1px solid #000;
            background:rgba(0,0,0,0.8);
            box-shadow: 1px 11px 21px 2px rgba(194,189,189,1);
            -webkit-box-shadow: 1px 11px 21px 2px rgba(194,189,189,1);
            -webkit-transition:height 0.5s;
            transition:height 0.5s;
        }
        &:hover {
            overflow:visible;
            &:after {
                height:250px;
            }
            ul {
                ul {
                    opacity:1;
                }
            }
        }
        & > ul {
            @include afterClear();
            display:flex; display:-webkit-flex; display:-ms-flexbox; align-items:stretch;
            li {
                position:relative;
                //float:left;
                a {
                    display:block;
                    min-width:100px;
                    padding:8px 12px;
                    font-size:16px;
                    color:$gray_003;
                    text-align:center;
                }
            }
            & > li {
                flex-grow:1; max-width:180px; justify-content:space-between;
                &:hover {
                    & > a {
                        color:$white;
                        background:#1a1a1a;
                    }
                }
                &.selected {
                    & > a {
                        color:$white;
                        background:$blue_002;
                    }
                }
            }
            // 2 depth
            li:hover {
                ul {
                    height:250px;
                    background:rgba(0,0,0,0.6);
                }
            }
            ul {
                z-index:50;
                opacity:0;
                display:block;
                position:absolute;
                top:43px;
                left:0;
                width:100%;
                height:0;
                -webkit-transition:height 0.5s, opacity 0.8s;
                transition:height 0.5s, opacity 0.8s;
                li {
                    float:none;
                    a {
                        padding:4px 8px;
                        font-size:14px;
                        color:#cdcdcd;
                        &:hover {
                            color:#579ee5;
                            background:none;
                        }
                    }
                    &:first-of-type {
                        margin-top:10px;
                    }
                }
            }
        }
    }
}
.container {
    @include afterClear();
    height:100%;
}
.snb {
    z-index:10;
    overflow-y:auto;
    position:fixed;
    top:82px;
    left:0;
    bottom:0;
    width:180px;
    height:100%;
    border-right:1px solid $gray_003;
    background:#fff;
    h2 {
        height:100px;
        line-height:100px;
        font-size:21px;
        text-align:center;
        border-bottom:1px solid #cdcdcd;
    }
    a {
      display: block;
      position: relative;
      padding: 7px 15px;
      font-size: 12px;
      &:hover {
        color: #2b303a;
      }
    }
    .collapsible > a {
      background: #fff;
    }
    .expandable > a:after, .collapsible > a:after {
      display: block;
      content: "";
      position: absolute;
      right: 10px;
      border: solid transparent;
      border-width: 6px 4px;
    }
    .expandable > a:after {
      top: 10px;
      border-top-color: #1e3c6e;
    }
    .collapsible > a:after {
      top: 6px;
      border-bottom-color: #1e3c6e;
    }
    .expandable > ul {
      display: none;
    }
    .collapsible > ul {
      display: block;
    }
    .depth2 > li {
      border-bottom: 1px solid #cdcdcd;
      > a {
        font-weight: 700;
      }
    }
    .depth3 {
      padding: 3px 0;
      border-top: 1px solid #dedede;
      background: #f4f7f5;
      > li > a {
        padding-left: 20px;
      }
    }
    .depth2 > .selected > a {
      color: #3d81d6;
      font-weight: bold;
      background: #fff;
    }
    .depth3 .selected > a {
      color: #fff;
      background: rgba(87, 158, 229, 0.7);
    }
    .icon {
      display: inline-block;
      margin: -2px 0 0 2px;
      padding: 1px 3px;
      vertical-align: middle;
      font-size: 0.8em;
      color: #fff;
      background: #53CE07;
      border-radius: 25%;
    }
}
.contents {
    margin-left:180px;
    padding: 20px 30px 60px;
    &.mini {
        max-width:960px;
    }
}
.footer {
  height: 30px;
  text-align: center;
  border-top: 1px solid #dedede;
  background: #f2f2f2;
  small {
    display: block;
    padding-top: 10px;
    color: #888;
  }
}

.dimmed {
  z-index: 490;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

//loading
.loading {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(255,255,255,0.35);
    &:before {
        z-index:10;
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        width:30px;
        height:30px;
        margin-top:-15px;
        margin-left:-15px;
        border-radius:50%;
        border:3px solid $gray_002;
        border-top-color:$blue_003;
        box-sizing:border-box;
        animation:spinner .6s linear infinite;
    }
}


/* margin */
.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}


/* text */
.txtLink {
    text-decoration:underline;
}
.txtInfo {
  color: #80878d !important;
}

.txtWarn {
  color: #ED3E49 !important;
}

.txtEm {
  color: #3d81d6 !important;
}

.txtEllipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.txtBig {
  font-size: 1.2em;
}

.txtSub {
  font-size: 0.9em;
}

/* 딱지 */

.stWarn, .stEm, .stNormal {
  display: inline-block;
  padding: 2px 3px;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  border-radius: 3px;
}

.stWarn {
  background: #ED3E49;
}

.stEm {
  background: #3d81d6;
}

.stNormal {
  background: #9a9b9c;
}

/* form */

.fText {
  display: inline-block;
  max-width: 100%;
  height: 24px;
  padding: 0 5px;
  line-height: 22px;
  border: 1px solid #cacece;
  vertical-align: middle;
  box-sizing: border-box;
  &[readonly] {
    background: #f5f5f5;
  }
  &.right {
    text-align: right;
  }
  &.w100per {
    width: 100%;
  }
}

.fTextarea.w100per, .fChk.w100per, .fRadio.w100per {
  width: 100%;
}

.fText.w90per, .fTextarea.w90per, .fChk.w90per, .fRadio.w90per {
  width: 90%;
}

.fText.w85per, .fTextarea.w85per {
  width: 85%;
}

.fText.w60, .fTextarea.w60, .fChk.w60, .fRadio.w60 {
  width: 60px;
}

.fText.w80, .fTextarea.w80, .fChk.w80, .fRadio.w80 {
  width: 80px;
}

.fText.w100, .fTextarea.w100, .fChk.w100, .fRadio.w100 {
  width: 100px;
}

.fText.w120, .fTextarea.w120, .fChk.w120, .fRadio.w120 {
  width: 120px;
}

.fText.w150, .fTextarea.w150, .fChk.w150, .fRadio.w150 {
  width: 150px;
}

.fText.w200, .fTextarea.w200, .fChk.w200, .fRadio.w200 {
  width: 200px;
}

.fText.w250, .fTextarea.w250 {
  width: 250px;
}

.fText.w300, .fTextarea.w300 {
  width: 300px;
}

.fText.w350, .fTextarea.w350 {
  width: 350px;
}

.fText.w500, .fTextarea.w500 {
  width: 500px;
}

.fSelect {
  display: inline-block;
  position: relative;
  height: 22px;
  line-height: 1;
  border: 1px solid #cacece;
  vertical-align: middle;
  &.w100per {
    width: 100%;
  }
  &.w80 {
    width: 80px;
  }
  &.w100 {
    width: 100px;
  }
  &.w120 {
    width: 120px;
  }
  &.w150 {
    width: 150px;
  }
  &.w200 {
    width: 200px;
  }
  &.w250 {
    width: 250px;
  }
  &.w300 {
    width: 300px;
  }
  select {
    width: 100%;
    min-width: 60px;
    height: 100%;
    padding: 0 18px 0 10px;
    border: 0;
    box-sizing: border-box;
  }
  &.dateButton select {
    padding-right: 35px;
    -webkit-appearance: none;
    background: url($bg_url + "ico_calendar.png") no-repeat 96% 2px;
  }
}

.fChk {
  position: relative;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  + .fChk {
    margin-left: 10px;
  }
}

.fRadio + .fChk {
  margin-left: 10px;
}

.fChk {
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    + label {
      display: inline-block;
      position: relative;
      line-height: 20px;
      cursor: pointer;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      &:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        margin: -1px 4px 0 0;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #cacece;
        background: #fff;
        border-radius: 3px;
      }
      &:after {
        opacity: 0;
        display: block;
        content: "";
        position: absolute;
        top: 6px;
        left: 2px;
        width: 9px;
        height: 4px;
        border: solid #73B2F0;
        border-width: 0 0 3px 3px;
        background: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
    &:checked + label {
      &:after {
        opacity: 1;
      }
      &:before {
        border-color: #73B2F0;
      }
    }
    &:disabled + label {
        &:before {
          border-color:#dedede;
          background-color:#eee;
        }
    }
    &:disabled:checked + label {
        &:after {
          opacity: 1;
          border-color:#fff;
        }
    }
  }
  &.hideTxt {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    label {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      /* color:transparent;*/
      white-space: nowrap;
      margin-top: 0;
      vertical-align: top;
    }
    input + label {
      &:before {
        margin-top: 0;
        vertical-align: top;
      }
      &:after {
        top: 3px;
      }
    }
  }
}

.fRadio {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  + .fRadio {
    margin-left: 10px;
  }
}

.fChk + .fRadio {
  margin-left: 10px;
}

.fRadio[class*="w"], .fChk[class*="w"] {
  margin-top: 5px;
  margin-left: 0;
}

.fRadio {
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    + label {
      display: inline-block;
      position: relative;
      line-height: 1;
      cursor: pointer;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      &:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        margin: 0 4px 0 0;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #cacece;
        background: #fff;
        border-radius: 50%;
      }
      &:after {
        opacity: 0;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 4px;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        border-radius: 50%;
        background: #73B2F0;
      }
    }
    &:checked + label {
      &:after {
        opacity: 1;
      }
      &:before {
        border-color: #73B2F0;
      }
    }
  }
  &.hideTxt {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    label {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      /* color:transparent;*/
      white-space: nowrap;
      &:before {
        vertical-align: top;
      }
    }
  }
}

.fChk.hideTxt input + label:before {
  vertical-align: top;
}

.fRadio.hideTxt input + label:after {
  top: 4px;
}

.fTextarea {
  padding: 10px 12px;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-sizing: border-box;
  textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border: 0;
  }
}

.fFile {
  display: inline-block;
  .name {
    display: inline-block;
    height: 24px;
    padding: 0 5px;
    line-height: 24px;
    vertical-align: middle;
    border:1px solid #cacece;
    box-sizing: border-box;
    &.w300 {
      width: 300px;
    }
  }
  input[type*="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  &.thumbnail {
    position: relative;
    .btnNormal {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .thumb, img {
      margin-right: 10px;
    }
    figcaption {
      padding: 0;
    }
  }
}

.addrWrap {
  display: inline-flex;
  flex-direction: row-reverse;
  .buttonArea {
    display: block;
    .btnSubmit {
      color: #575e70;
      border-color: rgba(0, 0, 0, 0.3);
      background: #f3e9e8;
      &:hover {
        color: #000;
        border-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .inputArea {
    margin-right: 10px;
    width: 500px;
  }
  .fText {
    width: 100%;
    + .fText {
      margin-top: 5px;
    }
  }
}

.emailWrap {
  max-width: 400px;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  .personal {
    float: left;
    width: 46%;
  }
  .fSelect {
    float: right;
    width: 45%;
  }
  .text {
    float: left;
    width: 8%;
    text-align: center;
    line-height:24px;
  }
  .domain {
    width: 100%;
    margin-top: 7px;
  }
}

_:-ms-lang(x), _:-webkit-full-screen {
display: block;
overflow: hidden;
padding: 10px 0;
}

select {
  display: inline-block;
  overflow: hidden;
  padding: 10px 0;
}

figure.thumb img {
  max-width: 250px;
  max-height: 300px;
}

/* button */

.btnSubmit, .btnNormal, .btnStatic, .btnBasic, .btnRadio label, .btnDanger, .btnPositive, .btnSearch {
  display: inline-block;
  height: 22px;
  padding: 0 14px;
  line-height: 22px;
  font-size: 13px;
  border: 1px solid;
  border-radius: 3px;
  vertical-align: middle;
  background: #fff;

  &.mini {
    height:18px;
    padding:0 8px;
    line-height:18px;
  }
}

.btnNormal {
  color: #575e70;
  border-color: rgba(0, 0, 0, 0.4);
  background: #fff;
  &:hover {
      color: #000;
      background:#f8f8f8;
  }
}

.btnSubmit {
  color: #fff;
  border-color: #5a5a5e;
  background: #404f6a;
  &:hover {
    color: #fff;
    background: #000;
  }
}

.btnStatic {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
  background:#a2a9b1;
  &:hover {
    color: #fff;
    border-color: rgba(0, 0, 0, 0.3);
    background: rgba(162, 169, 177, 0.9);
  }
}

.btnBasic {
  color: #555;
  border-color: #cacece;
  background: #f8f8f8;
  &:hover {
    color: #333;
    background: #f0f0f0;
  }
}

.btnDanger {
  color: #ED3E49;
  border-color: #ED3E49;
  background: #fff;
  &:hover {
    color: #ED3E49;
    background: rgba(237, 62, 73, 0.03);
  }
}

.btnPositive {
  color: #3d81d6;
  border-color: #3d81d6;
  background: #fff;
  &:hover {
    color: #3d81d6;
    background: rgba(61, 129, 214, 0.03);
  }
}

.btnSearch {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.25);
  background: #777a9b;
  &:hover {
    background: #6f7292;
  }
}

.btnNormal .icoDel {
  display: inline-block;
  margin: -4px 4px 0 0;
  color: #fa6362;
  font-weight: bold;
}

.btnSubmit {
  .icoAdd {
    margin-right: 4px;
    color: #fa6362;
    font-weight: bold;
  }
  &[class*="ico"]:before {
    display: inline-block;
    content: "";
    margin: -2px 7px 0 0;
    vertical-align: middle;
    background: url($bg_url + "sp_icon.png") no-repeat;
  }
}

.btnNormal[class*="ico"]:before, .btnBasic[class*="ico"]:before {
  display: inline-block;
  content: "";
  margin: -2px 7px 0 0;
  vertical-align: middle;
  background: url($bg_url + "sp_icon.png") no-repeat;
}

.btnRadio {
  display: inline-block;
  input {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
    color: transparent;
    + label {
      color: #555;
      border-color: rgba(0, 0, 0, 0.4);
      background: #fff;
    }
    &:checked + label {
      color: #fff;
      border-color: rgba(0, 0, 0, 0.25);
      background:#a2a9b1;
    }
  }
}

[class*="btn"] {
  &.icoExcel:before {
    width: 16px;
    height: 16px;
    background-position: -50px 0;
  }
  + [class*="btn"] {
    margin-left: 6px;
  }
}

// btnArea
.btnArea {
  position: relative;
  min-height: 37px;
  margin-top: 30px;
  text-align: center;
  a {
    &[class*="btn"] {
      height: 35px;
      padding: 0 20px;
      line-height: 35px;
      font-size: 16px;
    }
    + a {
      margin-left: 8px;
    }
  }
  .left {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &.right {
    text-align: right;
  }
}
.tableLayout + .btnArea {
    margin-top:15px;
}

/* login */

.wrap.login {
    min-width:400px;
    padding:0;
    //display:flex;
    background:#2a3954;
  .container {
      display:flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .contents {
      margin:0;
      flex:1;
  }
  .header {
    display: block;
    padding: 0 10px;
    h1 {
      padding: 3px 5px 5px;
      img {
        vertical-align: middle;
      }
    }
  }
}

.loginArea {
  width: 300px;
  margin: 0 auto;
  padding: 40px 30px 50px;
  border: 1px solid #ccc;
  background:#fff;
  h1 {
    margin-bottom: 20px;
    font-size: 26px;
  }
  li {
    & + li {
        margin-top: 5px;
    }
    .fText {
      height: 45px;
      border-color: #cacece;
    }
    .fText {
        input {
            padding:0 10px;
        }
    }
    .fSelect {
        height: 45px;
        box-sizing:border-box;
    }
    &:last-of-type {
        margin-top:15px;
    }
  }
  .remember {
    height: 20px;
    margin-bottom: 25px;
    line-height: 20px;
    + .txtWarn {
      margin: -10px 0 10px;
    }
  }
  .txtWarn {
    margin-top:10px;
  }
  .btnLogin {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin:30px 0 0;
    padding: 0 17px;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: 1px solid;
    border-radius: 3px;
    background: #5486ee;
    box-sizing: border-box;
    &:hover {
      color: #fff;
      background: #3C77EB;
    }
  }
}

// section
.section + .section {
  margin-top: 30px;
}

// titleArea
.titleArea {
  margin-top: 25px;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  &:first-of-type {
    margin-top:0;
  }
}

.section + .section.titleArea {
  padding-top: 20px;
}

/*.section .titleArea:first-child {margin-top:0;}*/

.titleArea {
  h3 {
    display: inline-block;
    font-size: 18px;
  }
  h4 {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    &:before {
      display: inline-block;
      content: "";
      width: 3px;
      height: 3px;
      margin: -2px 5px 0 0;
      vertical-align: middle;
      background: #333;
    }
  }
  h3 + h4 {
    margin-top: 10px;
  }
  .txtInfo {
    margin-top: 6px;
    color: #999;
  }
  .desc, p.desc {
    color: #666;
  }
  span.desc, h4 + .desc {
    margin-left: 10px;
  }
  .left {
    float: left;
  }
  .sub, .right {
    float: right;
  }
  .left, .sub, .right {
    margin-top: 0;
  }
  .tab {
    height: 31px;
    margin-left: 40px;
    background: none;
    ul {
      height: 30px;
      margin-left: 0;
      font-size: 15px;
      border-color: #fff;
      li {
        height: 30px;
        margin-left: 0;
        font-size: 15px;
        border-color: #fff;
        &.selected {
          border-color: #333;
          font-weight: 700;
        }
        a {
          padding: 6px 30px;
          color: #5a5a5e;
        }
        &.selected a {
          top: 0;
          padding: 5px 30px 7px 30px;
          color: #3d81d6;
        }
      }
    }
  }
  &.mt10 {
    margin-top: 10px;
  }
}

.flowArea .titleArea.mt10, .tab + .titleArea {
  margin-top: 10px;
}

.flowArea {
  .tab + .titleArea {
    margin-top: 10px;
  }
  .tableLayout {
    margin-top: 5px;
  }
}

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .trigger {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    vertical-align: middle;
    color: #555;
    cursor: pointer;
    background: #ccc;
    border-radius: 50%;
  }
  .content {
    display: none;
    position: absolute;
    top: -10px;
    left: 30px;
    min-width: 200px;
    padding: 12px;
    text-align: left;
    border: 1px solid #000;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.4);
    &:before {
      position: absolute;
      top: 10px;
      left: -7px;
      content: '';
      height: 0;
      width: 0;
      display: block;
      border: 7px transparent solid;
      border-left-width: 0;
      border-right-color: #000;
    }
    &:after {
      position: absolute;
      top: 11px;
      left: -6px;
      content: '';
      height: 0;
      width: 0;
      display: block;
      border: 6px transparent solid;
      border-left-width: 0;
      border-right-color: #fff;
    }
  }
  &:hover .content {
    display: block;
  }
}

/* tableLayout */

.tableLayout {
  margin-top: 10px;
  &.mt0 {
    margin-top: -1px;
  }
  table {
    border: 1px solid #d0d0d0;
    &.mt0 {
      margin-top: -1px;
    }
  }
  th {
    font-weight: normal;
    background: #f5f4f4;
  }
  tbody th {
    text-align: left;
  }
  th, td {
    padding: 7px 10px;
    border-top: 1px solid #d9dadc;
    border-left: 1px solid #d0d0d0;
  }
  .bl0 {
    border-left-width: 0;
  }
  th:first-child, td:first-child {
    border-left: 0;
  }
  colgroup + tbody tr:first-child {
    th, td {
      border-top-color: #d0d0d0;
    }
  }
  .top {
    vertical-align: top;
  }
  thead {
    th {
      border-top-width: 0;
      color: #80878d;
      font-weight: normal;
      text-align:center;
    }
    tr + tr th {
      border-top-width: 1px;
    }
    .heading th {
      color: #333;
      border-bottom: 1px solid #d0d0d0;
      background: #f2f6fa;
    }
  }
  .center {
    text-align: center;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .price {
    font-size: 16px;
    text-align: right;
    strong {}
  }
  .editor {
    padding: 0;
    .note-editor.note-frame {
      border-width: 0;
    }
  }
  tfoot {
    th {
      color: #80878d;
      font-weight: 400;
      font-size: 1.25em;
    }
    td {
      font-size: 1.25em;
      font-weight: 700;
    }
  }
  tr {
    &.warn {
      background-color: #f7dddd;
    }
    &.positive {
      background-color: #fffceb;
    }
    &.blank, .blank {
        background-color: #dfe3e6;
    }
    &.deleted {
        td, th {
            color:#a09786;
        }
        td {
            text-decoration:line-through;
        }
    }
  }
  &.hover tr:hover {
    background-color: #e6f1fe;
    td.nodata {
      background-color: #fff;
    }
  }
  [class*="btn"] {
    font-size: 12px;
  }
  .nodata td, td.nodata {
    height: 200px;
    text-align: center;
  }
  .nodata tr:hover td {
    background: #fff;
  }
  &.trHover tbody tr:hover {
    background: #E6F1FE;
  }
  tbody tr {
    .txtLink {
      text-decoration: underline;
    }
    &:hover .txtLink {
      color: #3C77EB;
      text-decoration: underline;
    }
  }
  &.list {
    font-size: 12px;
    input, select, textarea, [class*="btn"] {
      font-size: 12px;
    }
    .fText {
      height: 23px;
      line-height: 21px;
    }
    .fSelect {
      height: 21px;
    }
    [class*="btn"] {
      height: 21px;
      padding: 0 10px;
      line-height: 21px;
    }
    th, td {
      padding: 4px;
    }
    .right td, td.right {
      padding-right: 8px;
    }
  }
  .thumb figcaption {
    margin-top: 10px;
    border-width:0;
  }
  &.typeTab {
    a {
      display: block;
    }
    td.selected {
      padding: 0;
      background: #99abb5;
      a {
        color: #fff;
        font-weight: 700;
      }
    }
  }
  &.user {
    .profile {
        position:relative;
        padding:10px 0 0 80px;
        height:60px;
        .image {
            position:absolute;
            top:0;
            left:0;
            overflow:hidden;
            display:inline-block;
            width:70px;
            height:70px;
            vertical-align:middle;
            border-radius:10px;
            border:1px solid #e4e4e4;
            img {
                max-width:100%;
                max-height:100%;
            }
        }
        .idx {
            display:block;
            font-size:1.3em;
            color:#3d81d6;
        }
        .nick {
            font-size:1.5rem;
        }
    }
  }
  &.monthly {
    .topSec {
        @include afterClear;
        .btnNormal {
            float:right;
        }
    }
    .today {
        background:#f7dddd;
    }
  }
}

/* tableScroll */

.tableScroll {
  margin-top: 10px;
  border: 1px solid #d0d0d0;
  .tableLayout {
    &.head {
      margin-top: 0;
      td {
        text-align: center;
        background: #f3f3f5;
      }
      .heading td {
        font-weight: bold;
        text-align: left;
        border-bottom: 1px solid #d0d0d0;
        border-top: 0;
        background: #f2f6fa;
      }
    }
    &.body {
      overflow-y: scroll;
      margin-top: -1px;
      border-top: 1px solid #d0d0d0;
    }
    &.head table {
      border-width: 0;
    }
    &.body {
      table {
        border-width: 0;
      }
      td {
        border-top-color: #d0d0d0;
      }
      tr:first-of-type td {
        border-top-width: 0;
      }
    }
  }
}

.tableLayout .sort {
  vertical-align: middle;
  &:before, &:after {
    display: block;
    font-size: 5px;
    line-height: 1;
    color: #babdbe;
  }
  &:before {
    content: "▲";
  }
  &:after {
    content: "▼";
    margin-top: -2px;
  }
  &.up:before, &.down:after {
    color: #579ee5;
  }
}

/* setArea */

.setArea {
  width: 100%;
  margin-top: 20px;
  padding: 7px 20px;
  border: solid #d0d0d0;
  border-width: 1px 1px 0 1px;
  background: #dfe3e6;
  box-sizing: border-box;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  &.center {
    position: relative;
    text-align: center;
    min-height: 42px;
    .right {
      position: absolute;
      top: 7px;
      right: 20px;
      float: none;
    }
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  + .tableLayout {
    margin-top: 0;
  }
  a[class*="btn"] {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
  }
  .fChk {
    + a[class*="btn"] {
      margin-left: 10px;
    }
    line-height: 27px;
  }
  .btnNormal {
    background: #fff;
  }
  .text + a[class*="btn"] {
    margin-left: 6px;
  }
  &.gFooter {
    margin-top: 0;
    border-width: 0 1px 1px 1px;
    text-align: center;
  }
}

.selectMonthArea {
    padding-bottom:10px;
    text-align:center;
    .text {
        margin:0 7px;
        font-size:1.5rem;
        vertical-align:middle;
    }
    a[class*="btn"] {
        height:30px;
        line-height:30px;
    }
    .btnNormal {
        width:30px;
        padding:0;
    }
}

/* banner */
.notiPop {
  display: inline-block;
  width: 450px;
  margin: 15px 10px 0 0;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #f3e9e8;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .title {
    font-size: 15px;
  }
  .date {
    margin-top: 5px;
    color: #777;
  }
}

/* attachFile */

.attachFile {
  dt, dd {
    float: left;
    margin: 0;
  }
  dt {
    width: 30%;
  }
  dd {
    width: 70%;
  }
  li {
    line-height: 1.8;
  }
}

.tableLayout tbody tr {
  &:hover .attachFile .txtLink {
    color: inherit;
  }
  .attachFile .txtLink:hover {
    color: #3d81d6;
  }
}

/* searchArea */

.searchArea {
  margin: 15px 0 0;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: #fafafa;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  .pickDate {
    margin: 0;
  }
  .text {
    margin: 0 10px 0 0;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .button {
    margin: 0 0 0 15px;
  }
  .btnSubmit {
    height: 30px;
    line-height: 28px;
    font-size: 14px;
  }
}

/* tab */

.tab {
  margin-top: 15px;
  height: 37px;
  border-bottom: 1px solid #333;
  background: #f2f6fa;
  ul {
    display: flex;
    border: solid #dadcdd;
    border-width: 1px 1px 0 0;
  }
  li {
    position: relative;
    top: -1px;
    height: 37px;
    margin-left: -1px;
    text-align: center;
    border: solid #dadcdd;
    border-width: 1px 1px 0 1px;
    &:first-child {
      border-left-width: 1px;
    }
    a {
      display: block;
      padding: 10px 30px;
    }
    &.selected {
      z-index: 10;
      border-color: #333;
      border-left-width: 1px;
      background: #fff;
      a {
        position: relative;
        top: 1px;
        padding: 9px 30px 11px;
        background: #fff;
      }
    }
  }
  &.flex {
    ul {
      border-right: 0;
    }
    li {
      flex-grow: 1;
      a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &.mt0 {
    margin-top: 0;
  }
  &.sub {
    display: inline-block;
    height: 27px;
    border-color: #d0d0d0;
    background: none;
    ul {
      height: 30px;
      border-width: 0;
      li {
        height: 30px;
        border-width: 0;
        &.selected {
          border-width: 0;
          font-weight: 700;
        }
        a {
          padding: 5px 30px;
          color: #5a5a5e;
        }
        &.selected a {
          padding: 4px 30px 7px 30px;
          color: #3d81d6;
        }
        a {
          padding: 5px 30px;
          color: #5a5a5e;
        }
        &.selected a {
          padding: 4px 30px 7px 30px;
          color: #3d81d6;
          border-bottom: 3px solid #3d81d6;
        }
      }
    }
  }
  &.inTab {
    margin-top: 15px;
    height: 30px;
    border-color: #4a4a4a;
    background: #f8f8f8;
    ul {}
    li {
      height: 29px;
      a {
        padding: 7px 30px;
      }
      &.selected {
        border-color: #4a4a4a;
        a {
          padding: 6px 30px 9px;
        }
      }
    }
  }
}

/* txtNoti */

.txtNoti {
  margin-top: 10px;
  text-align: right;
  + .tableLayout {
    margin-top: 5px;
  }
}

/* boardArea */

.boardArea {
  .titleInput {
    display: flex;
    margin-top: 40px;
    font-size: 14px;
    dt {
      flex: 0 0 auto;
      width: 140px;
      padding-left: 10px;
      font-size: 14px;
    }
  }
  &.detail .titleInput dt {
    color: #7a7a7a;
  }
  .titleInput dd {
    position: relative;
    flex: 1 1 140px;
    padding-left: 10px;
  }
  &.detail .titleInput dd {
    padding-right: 0;
  }
  .titleInput dd {
    .fText {
      border-width: 0 0 1px 0;
      border-color: #e2e2e2;
    }
    .count {
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }
  .viewer {
    margin-top: 20px;
    padding: 50px 35px 50px 50px;
    border: solid #dedede;
    border-width: 1px 0;
  }
  .subject {
    font-size: 18px;
  }
  &.detail {
    .forEdit {
      display: none;
    }
    .forView {
      display: block;
    }
  }
  &.edit {
    .forView {
      display: none;
    }
    .forEdit {
      display: block;
    }
  }
}

/* detailArea */

.detailArea {
  margin-top: 20px;
  li {
    margin-top: 7px;
    padding: 3px 0;
    min-height: 28px;
    background: #f8f8f8;
    .fChk {
      line-height: 28px;
    }
    strong {
      font-weight: normal;
    }
    dl {
      display: flex;
      dt {
        flex: 0 0 auto;
        width: 140px;
        padding: 0 0 0 10px;
        line-height: 27px;
        color: #7a7a7a;
      }
      dd {
        flex: 0 0 450px;
        line-height: 27px;
        &:only-of-type {
          flex: 1 1 auto;
        }
      }
      &.col3 {
        dd {
            flex:0 0 250px;
        }
      }
    }
    &.block dl {
      dt {
        flex: 0 0 auto;
        width: 140px;
      }
      dd {
        flex: 1 1 auto;
      }
    }
  }
}

.pickDate:first-child {
  margin-left: 0;
}

.fRadio + .pickDate, .fChk + .pickDate {
  margin-left: 40px;
}

.pickDate {
  display: inline-block;
  vertical-align: middle;
  .endDay {
    margin-left: 20px;
  }
  .fText {
    margin-left: 10px;
    cursor: pointer;
    background: #fff url($bg_url + "ico_calendar.png") no-repeat 96% 2px;
    &:first-child {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

/* optionArea */

.optionArea {
  margin: 5px 0 0;
}

/* editor */

.editor {
  margin-top: 20px;
}

.boardArea {
  .note-editor.note-frame {
    border-width: 0;
  }
  &.edit .note-editor.note-frame {
    margin-top: 28px;
  }
}

/* paginate */

.paginate {
  display: flex;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 20px;
  > a {
    margin-left: 5px;
    &.first {
      margin-left: 0;
    }
  }
  a {
    display: inline-block;
    min-width: 32px;
    padding: 5px 5px;
    border: 1px solid #d0d0d0;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    &:hover {
      color: #000;
      border-color: #5a5a5e;
    }
  }
  ol {
    display: flex;
  }
  li {
    display: flex;
    margin-left: 5px;
    &.current a {
      color: #fff;
      border-color: #5a5a5e;
      background: #404f6a;
    }
  }
  + .fSelect {
    margin-left: 20px;
  }
}

// mBox
.mBox {
    margin: 20px 0 0;
    padding:15px 20px;
    border:1px solid #d4d4d4;
    &.blockInline > {
        div, .fSelect {
          vertical-align: middle;
        }
        .paginate {
          margin: 0;
        }
    }
    &.left {
    text-align:left;
    }
    &.center {
      text-align:center;
    }
    &.right {
      text-align:right;
    }
    &.clear {
        padding:0;
        border-width:0;
    }
  &.LR {
    display: block;
    &:after {
      display: block;
      content: "";
      clear: both;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}

/* menuList */

.menuList {
  .allCheck {
    padding: 10px 15px;
  }
  li {
    line-height: 25px;
  }
  .depth1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    > li {
      padding: 15px;
      /*margin:0 10px 10px 0;*/
      border: 1px solid #cacece;
      /* border-top:1px solid #cacece;*/
    }
  }
  > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  > ul > li {
    padding: 15px;
    /*margin:0 10px 10px 0;*/
    border: 1px solid #cacece;
    /* border-top:1px solid #cacece;*/
  }
  .depth2 > li, .depth3 > li {
    padding-left: 20px;
  }
  li.not .fChk {
    color: #aeaaa9;
  }
  .check {
    display: inline-block;
    position: relative;
    line-height: 16px;
    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      line-height: 14px;
      margin: -2px 8px 0 0;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #cacece;
      border-radius: 3px;
      cursor: text;
    }
    &:after {
      opacity: 0;
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 9px;
      height: 5px;
      border: solid #73B2F0;
      border-width: 0 0 3px 3px;
      background: transparent;
      cursor: text;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &.checked {
      &:after {
        opacity: 1;
      }
      &:before {
        border-color: #73B2F0;
      }
    }
  }
}

.layer.mandate .menuList .depth1 {
  grid-template-columns: repeat(4, 1fr);
}

/* 메뉴관리 */

.menuSetArea {
  display: flex;
  display: -webkit-flex;
  margin-top: 20px;
  .treeArea {
    flex: 3;
    min-width: 280px;
  }
  .infoSetArea {
    flex: 5;
    margin-left: 20px;
  }
  .treeArea {
    .titleArea {
      margin-bottom: 20px;
    }
    .menuTree {
      border: 1px solid #bcbfc4;
      li {
        line-height: 2;
      }
    }
  }
  .menuList {
    > ul {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 0fr;
      grid-column-gap: 10px;
      grid-row-gap: 30px;
      > li {
        margin-top: 0;
        background: #f7f8f9;
        &:hover {
          border-color: #a2a7ae;
          background: #fff;
        }
      }
    }
    li {
      margin-top: 6px;
    }
    .menu {
      display: flex;
      border: 1px solid #cacece;
      background: #fff;
    }
    li.not > .menu {
      color: #aeaaa9;
      background: #ededef;
      &:hover {
        color: #aeaaa9;
        background: #ededef;
      }
    }
    .menu {
      &:hover {
        background: rgba(228, 232, 238, 0.5);
      }
      .btnEdit, .btnAdd {
        height: 100%;
        margin-left: -1px;
        line-height: 31px;
        border: solid #cacece;
        border-width: 0 0 0 1px;
        background: #e4e8ee;
      }
      .btnEdit:hover, .btnAdd:hover {
        color: #fff;
        background: #404f6a;
      }
      .name {
        flex: 1 1 auto;
        padding: 3px 0 3px 10px;
      }
      .btnEdit {
        flex: 0 0 50px;
        width: 50px;
      }
      .btnAdd {
        flex: 0 0 30px;
        width: 30px;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .depth2, .depth3 {
      position: relative;
    }
    .depth2:before, .depth3:before {
      display: block;
      content: "";
      position: absolute;
      top: 5px;
      left: 4px;
      width: 5px;
      height: 8px;
      border: solid #f5f6f8;
      border-width: 0 0 2px 2px;
    }
    .depth2 > li, .depth3 > li {
      padding-left: 15px;
    }
  }
}

.menuTree {
  overflow: auto;
  max-height: 580px;
  padding: 10px 15px;
  li {
    position: relative;
    margin: 5px 0 0;
    cursor: pointer;
  }
  .menu {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 60px 0 0;
    font-weight: bold;
    border: 1px solid transparent;
    background: #ededed;
    border-radius: 3px;
    box-sizing: border-box;
    span {
      position: relative;
      display: block;
      padding: 7px 15px 7px 15px;
    }
    &:hover {
      color: #000;
      border: 1px solid #666;
    }
  }
  .btnEdit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 42px;
    padding: 7px 0;
    font-size: 14px;
    color: #3c4c4f;
    text-align: center;
    border-left: 1px solid #fff;
    &:hover {
      color: #3C77EB;
    }
  }
  li {
    &.expandable > ul {
      display: none;
    }
    &.collapsible > ul {
      display: block;
    }
    .menu:after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      right: 80px;
      border: solid transparent;
      border-width: 5px 4px;
    }
    &.expandable > .menu:after {
      margin: -2px 0 0;
      border-top-color: #333;
    }
    &.collapsible > .menu:after {
      margin: -7px 0 0;
      border-bottom-color: #333;
    }
  }
  .depth2, .depth3 {
    padding: 0 0 0 25px;
  }
}

/* 사유입력 */

.reasonList {
  li.fRadio {
    display: block;
    margin: 10px 0 0;
  }
  .fChk {
    label:before {
      width: 20px;
      height: 20px;
      background-position: -50px -25px;
    }
    &.checked label:before {
      background-position: -75px -25px;
    }
  }
  li:first-child {
    margin-top: 0;
  }
  .fTextarea {
    display: block;
    margin: 6px 0 0 26px;
    textarea {
      width: 100%;
      height: 38px;
    }
  }
}

/* flowArea */

.flowArea {
  display: flex;
  margin: 10px 0 0;
  > div {
    flex: 1 1 200px;
  }
  .col2 {
    flex: 2 1 200px;
  }
  .col3 {
    flex: 3 1 200px;
  }
  .fix {
    flex: 0 0 auto;
  }
  .flex {
    flex: 1 1 auto;
  }
  .gFlow {
    margin-right: 10px;
  }
  .gReverse {
    margin-left: 10px;
  }
  .titleArea {
    &:first-of-type {
      margin: 0;
    }
    min-height: 27px;
    h4 {
      line-height: 27px;
    }
  }
  &.compare {
    .setArea {
      height: 33px;
      margin: 10px 0 0;
    }
    .gReverse .fFile .name {
      text-align: right;
    }
    .tableLayout {
      overflow-y: auto;
      width: 100%;
      height: 500px;
      margin: 0;
      border: 1px solid #acacac;
      box-sizing: border-box;
      table {
        border-width: 0;
        tr:last-child td {
          border-bottom: 1px solid #d0d0d0;
        }
      }
      .nodata td {
        height: 450px;
        border-bottom-width: 0 !important;
      }
    }
  }
  &.voc {
    margin-top: 30px;
    .titleArea {
      padding: 7px 10px;
      background: #f2f6fa;
    }
    .viewer {
      margin-top: 0;
      min-height: 300px;
      box-sizing: border-box;
    }
    .editor {
      margin-top: 0;
      min-height: 300px;
      box-sizing: border-box;
      border-top: 1px solid #dedede;
      .note-editable {
        height: 230px;
        min-height: 0 !important;
        max-height: none !important;
      }
    }
  }
}

/*VOC*/

/* dlTypeList */

.dlTypeList {
  li {
    margin-top: 8px;
    &:first-child {
      margin-top: 0;
    }
    .title {
      display: inline-block;
    }
  }
  &.w60 li .title {
    width: 60px;
  }
  &.w140 li .title {
    width: 140px;
  }
  li .price {
    display: inline-block;
    width: 150px;
    font-size: 1em;
    text-align: right;
  }
}

/* imgLinkList */

.imgLinkList {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  li {
    float: left;
    width: 48%;
    margin: 5px 2% 0 0;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    &:nth-child(even) {
      margin-right: 0;
    }
    &:hover {
      background: #f4f4f4;
      a {
        color: #1a1a1a;
      }
    }
    a {
      display: block;
      width: 100%;
      padding: 7px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #6a6a6a;
      box-sizing: border-box;
    }
    &.empty {
      background: #f4f4f4;
      a:first-of-type {
        color: #a8a8a8;
        cursor: default;
      }
    }
  }
  &.col4 li {
    width: 23%;
  }
  &.col3 li {
    width: 32%;
    &:nth-child(even) {
      margin-right: 2%;
    }
  }
  &.col4 li:nth-child(even) {
    margin-right: 2%;
  }
  &.col3 li:nth-child(3n), &.col4 li:nth-child(4n) {
    margin-right: 0;
  }
  &.tButton li {
    position: relative;
    padding-right: 70px;
    a {
      &[class*=btn] {
        position: absolute;
        top: 4px;
        right: 5px;
        width: auto;
        padding: 0 14px;
      }
      &.btnStatic {
        color: #fff;
      }
    }
  }
}

/* popup */

.popWrap {
    padding: {
        top:50px;
        bottom:58px;
    }
  .header {
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    border-bottom: 1px solid #d4d4d4;
    background: #f8f8f8;
    h1 {
      font-size: 20px;
    }
  }
  .section:first-of-type .titleArea {
    margin-top: 0;
  }
  .titleArea {
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
      line-height: 1.4;
      &:before {
        display: inline-block;
        content: "";
        width: 3px;
        height: 3px;
        margin: -2px 5px 0 0;
        vertical-align: middle;
        background: #333;
      }
    }
    h2 + h3 {
      margin-top: 10px;
    }
  }
  .content {
    padding:20px 20px 30px;
  }
  footer {
    &.btnArea {
        z-index:10;
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        margin:0;
        padding:10px 0;
        border-top:1px solid #d4d4d4;
        background:$white;
    }
  }
}

/* layer */

.layer {
  display: none;
  z-index: 500;
  position: absolute;
  top: 300px;
  left: 200px;
  padding-bottom: 49px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.54);
  &.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-sizing:border-box;
  }
  h2 {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
  }
  .content {
    overflow: auto;
    padding: 20px;
  }
  h3 {}
  .description {
    margin: 15px 0 20px;
  }
  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #dedede;
    background: #fafafa;
    a[class*="btn"] {
      height: 26px;
      line-height: 26px;
      + a[class*="btn"] {
        margin: 0 0 0 6px;
      }
    }
    .btnBasic {
      background: #fff;
    }
  }
  .btnClose {
    position: absolute;
    top: 10px;
    right: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: transparent;
    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 9px;
      padding: 0;
      width: 2px;
      height: 20px;
      background: #5a5a5e;
      border-radius: 1px;
      transform: rotate(45deg);
    }
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 20px;
      height: 2px;
      margin-top: -2px;
      background: #5a5a5e;
      border-radius: 1px;
      transform: rotate(45deg);
    }
  }
  .gLine {
    margin: 15px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #a2a7ae;
  }
  .chkList li {
    line-height: 2;
  }
  &.mandate {
    width: 850px;
    .content {
      max-height: 470px;
    }
  }
  &.payHold .reasonList {
    margin: 10px 0 0;
  }
}
.dimmed {
    z-index:490;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.4);
}

// ui-date-picker
.ui-datepicker .ui-datepicker-title select {
    padding:0;
}

                                                                                        /*
.tableLayout colgroup + tbody tr:first-child th, .tableLayout colgroup + tbody tr:first-child td {border-top-color:#333;}*/
/*.popSettlement .tableLayout tr:first-of-type th,
.popSettlement .tableLayout tr:first-of-type td {border-top-width:0;}*/

/*.popSettlement .tableLayout th:first-of-type,
.popSettlement .tableLayout td:first-child {border-left-width:0;}*/

/* print */
@media print {
  .wrap .container {
    margin: 0;
  }
  .gnb, .btnArea {
    display: none;
  }
  a[href]:after, img[src]:after {
    content: none !important;
  }
}