@charset "UTF-8";

// vw 사이즈 계산
@function calcVw($target) {
    @return ($target / 3.6) * 1vw;
}

// % 사이즈 계산
@function calcPer($target) {
    @return ($target / 360) * 100%;
}

// font-family
$font-noto: "NotoSansKR", sans-serif;
$font-lato: "Lato", sans-serif;
$font-basic: "Roboto", "NotoSans", sans-serif;

//color
$white: #fff;

$black_001: #000;
$black_002: #222;
$black_003: #666;

$gray_001: #7f7f7f;
$gray_002: #a2a7ae;
$gray_003: #999;
$gray_004: #e2e2e2;
$gray_005: #e4e8ee;
$gray_006: #f5f6f7;
$gray_007: #ccc;

$blue_001: #31579e;
$blue_002: #4285f4;
$blue_003: #b3cefb;

$green_001: #00a951;
$green_002: #99ddb9;

$red_001: #e24f39;
$orange_001: #f0911d;
$yellow_001: #ffd300;
$yellow_002: #fffceb;

$bg_url: "../images/";

// size
$mobile_l: 720px;
$mbile_s:320px;

// tablet, mobile
@mixin tabMo {
	@media screen and (min-width: #{$mbile_s}) and (max-width: #{$mobile_l}) {
		@content;
	}
}

@mixin head ($color, $sizePx, $sizeVw) {
  color: $color;
  font-size: $sizePx;
  font-size: $sizeVw;
}

@mixin button ($width, $padding, $color, $size, $bg) {
    color:$color;
    font-size:$size;
    background-color:$bg;
    width: $width;
    padding: $padding;

}

@mixin text ($size, $color, $weight) {
    font-size:$size;
    color:$color;
    font-weight:$weight;
}

@mixin box($borderColor, $bgColor) {
    border-color:$borderColor;
    background-color:$bgColor;
}

@mixin afterClear {
    &:after {
        content: "";
        display: block;
        clear: both;
      }
}

@mixin pseudo($display, $width, $height, $backgroundImage) {
    display: $display;
    content:"";
    width:($width) + px;
    height:($height) + px;
    background:url($backgroundImage) no-repeat 0 0;
    background-size:cover;
    vertical-align:middle;
}

@mixin mediaPseudo($width, $height) {
    width:calcVw($width);
    height:calcVw($height);
}

@mixin vwPx($prop, $size) {
    #{$prop}:#{$size}px;
    #{$prop}:calcVw($size);
}


@function buttonColor($bgColor) {
    $bg-color: $bgColor;

    /*@if $bg-color == $custom-red {
        color: $color-white; }
      @else if $bg-color == $custom-green {
        color: desaturate(fade-out($custom-green, 20%), 30%); }
      @else if $bg-color == $custom-blue {
        color: lighten($custom-blue, 32%); }
      @else {
        color: white; }*/

}